//- ========================================
//- Address
//- ========================================

#hcard.vcard
  .org Organization
  a.email(href="mailto:organization@gmail.com") organization@gmail.com
  .adr
    .street-address 92 West Pegasus St.
    span.locality Washington
    span.region MA
    span.postal-code 493123
    span.country-name United States
  .tel 444-444-4444
