//- ========================================
//- Address
//- ========================================

#hcard.vcard
  .org Organization
  .adr
    .street-address 92 West Pegasus St.
    .location #[span.locality Washington] #[span.region MA] #[span.postal-code 493123]
  a.email(href="mailto:organization@gmail.com") organization@gmail.com
  a.tel(href="tel:443-283-3847") 443-283-3847
