button.drawer__trigger(aria-hidden="true")

nav.silk-nav.nav-main.drawer
  include ./silk-nav-controls.jade
  ul
    li
      a(href='/') Games
      ul
        li
          a(href='/') Viewtiful Joe
        li
          a(href='/') Cooking Mama
    li
      a(href='/') Anime
      ul
        li
          a(href='/') Tokyo Ghoul
        li
          a(href='/') Aldnoah Zero
    li
      a(href='/') About
    li
      a(href='/') Academics
    li
      a(href='/') Admissions
    li
      a(href='/') Athletics


