h2 Nav
button.drawer__trigger

nav.silk-nav.nav-main.drawer
  .silk-nav__controls
    a.trigger--home(href='/')
      i.icon.icon-home Home
    button.trigger--revert
      i.icon.icon-undo Main Menu
    button.trigger--reverse
      i.icon.icon-chevron-left
  ul
    li
      a(href='/') Games
      ul
        li
          a(href='/') Viewtiful Joe
        li
          a(href='/') Cooking Mama
    li
      a(href='/') Anime
      ul
        li
          a(href='/') Tokyo Ghoul
        li
          a(href='/') Aldnoah Zero
    li
      a(href='/') About
    li
      a(href='/') Academics
    li
      a(href='/') Admissions
    li
      a(href='/') Athletics


