//- ========================================
//- Main Navigation
//- ========================================

ul
  li
    a(href="/") Anime
    ul
      li
        a(href="/") Tokyo Ghoul
        ul
          li
            a(href="/") Season One
          li
            a(href="/") Season Two
      li
        a(href="/") Aldnoah Zero
  li
    a(href="/") About
  li
    a(href="/") Academics
  li
    a(href="/") Admissions
  li
    a(href="/") Athletics
