//- ========================================
//- Silk Table
//- ========================================

table.silk-table
  thead
    tr
      th Heading
      th Heading
      th Heading
  tbody
    tr
      td Lorem Ipsum
      td Lorem Ipsum
      td Lorem Ipsum
    tr
      td Lorem Ipsum
      td Lorem Ipsum
      td Lorem Ipsum
    tr
      td Lorem Ipsum
      td Lorem Ipsum
      td Lorem Ipsum
    tr
      td Lorem Ipsum
      td Lorem Ipsum
      td Lorem Ipsum
