//- ========================================
//- Silk Navigation
//- ========================================

button.drawer__trigger(aria-hidden="true")

nav.silk-nav.drawer
  include silk-nav-controls.jade
  .nav.nav-main
    include nav-main.jade
