//- ========================================
//- Silk Modal
//- ========================================

.silk-modal
  .silk-modal__trigger
    +symbol("play")
  img.full-width(src="http://i.imgur.com/f5M3iyy.jpg")
  .silk-modal__details
    .silk-modal__trigger--close
      +symbol("close")
      span Close
    img.full-width(src="http://i.imgur.com/f5M3iyy.jpg")
    h2 Photo Caption
