//- ========================================
//- Silk Modal
//- ========================================

.silk-modal
  .silk-modal__trigger
    +symbol("play")
  img.full-width(src="http://i.imgur.com/f5M3iyy.jpg")
  .silk-modal__details
    .silk-modal__trigger--close
      +symbol("close")
      span Close
    .silk-modal__bottle
      <iframe width="1280" height="720" src="https://www.youtube.com/embed/m03Y0PdDUvA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    h2 History - Queen
    p The boy group 'HISTORY' will captivate the women's heart this spring with the 5th mini album [HIM] which you can feel the wild charm of guys. The new album [HIM], as its name tells, appeals the charm of tough guys by highlighting the wild and sexy characters of members not only for visual but also for musical traits.
