//Base Font Size
$base-font-size: 16;
$base-font-color: #000;

//Break points
$breakpoints: (
	("tiny",	"screen and (min-width: 480px)"),
	("small",	"screen and (min-width: 600px)"),
	("medium",	"screen and (min-width: 800px)"),
	("large",	"screen and (min-width: 1000px)"),
	("x-large", "screen and (min-width: 1200px)")
);

// Off canvas slider
$offCanvas: 100%;
$offCanvasDesktop: 350px;
