// ========================================
// Base Font Families
// ========================================

$sans-serif: 'Roboto';
$serif: serif;


// ========================================
// Content Font Properties
// ========================================

$content-family: $sans-serif;
$content-size: 16;
$content-color: #333;
$content-line: 22;


// ========================================
// Base Heading Styles
// ========================================

// heading-line-height
// heading-font-size
// These are used within base/typography
// ----------------------------------------

// h1 size / line
$h1-size: 40;
$h1-line: 42;

// h2 size / line
$h2-size: 34;
$h2-line: 36;

// h3 size / line
$h3-size: 30;
$h3-line: 32;

// h4 size / line
$h4-size: 24;
$h4-line: 26;

// h5 size / line
$h5-size: 20;
$h5-line: 22;

// h6 size / line
$h6-size: 16;
$h6-line: 18;

// mini size / line
$mini-size: 14;
$mini-line: 16;


// ========================================
// Color Configurations
// ========================================

$m1: #f0c;
$m2: #f0f;

$s1: #333;
$s2: #eee;


// ========================================
// Column Configurations
// ========================================

// Max width of the site
$boundary: 1100;

// Number of columns within the grid
$column-base: 12;

// Configure the space around each column
$column-between: 1%;

// Do you need to utilize the push feature of this grid system?
$column-push-desired: true;

// Do you need to utilize the pull feature of this grid system?
$column-pull-desired: true;


// ========================================
// Silk Configuration
// ========================================

// Silk Nav
// ----------------------------------------

$silk-drawer-disappears: 'huge' !default;

// Off canvas drawer trigger appearance
$silk-stripe-height: 2;
$silk-stripe-width: 60;
$silk-stripe-space: 2;
$silk-stripe-color: #000;


// Silk Table
// ----------------------------------------

$silk-table-expanded: 'huge' !default;


// Silk Tabs
// ----------------------------------------

$silk-tabs-to-accordion: 'huge' !default;


// Silk Video
// ----------------------------------------

$silk-video-playing: 'titan' !default;


// ========================================
// Breakpoints
// ========================================

$breakpoints: (
  ("tiny", 400px),
  ("small", 500px),
  ("medium", 600px),
  ("big", 700px),
  ("large", 800px),
  ("huge", 900px),
  ("titan", 1000px),
  ("nation", 1100px),
  ("world", 1200px),
  ("galaxy", 1300px),
  ("universe", 1400px),
  ("aldnoah", 1500px),
  ("penguindrum", 1600px)
);
