// ========================================
// Base Font Properties
// ========================================

$base-font-family: 'Open Sans', arial;
$base-font-size: 20;
$base-font-color: #5d5d5d;
$base-line-height: 30;

$h1-size: 60;
$h2-size: 35;
$h3-size: 20;
$h4-size: 18;
$h5-size: 16;
$h6-size: 14;


// ========================================
// Colors
// ========================================

$m1: #ecdb93;
$m12: #f0dc52;
$m2: #6f9c88;
$m3: #312e71;

$m4: #fc9048;
$m5: #9dd7bc;
$m6: #665183;


// ========================================
// Breakpoints
// ========================================

$breakpoints: (
  ("tiny", "screen and (min-width: 400px)"),
  ("small", "screen and (min-width: 500px)"),
  ("medium", "screen and (min-width: 600px)"),
  ("large", "screen and (min-width: 700px)"),
  ("x-large", "screen and (min-width: 800px)"),
  ("huge", "screen and (min-width: 900px)"),
  ("super", "screen and (min-width: 1000px)"),
  ("titan", "screen and (min-width: 1100px)"),
  ("world", "screen and (min-width: 1200px)"),
  ("universe", "screen and (min-width: 1300px)"),
  ("penguindrum", "screen and (min-width: 1400px)"),
  ("titan", "screen and (min-width: 1000px)")
);


// ========================================
// Off Canvas Slider
// ========================================

$offCanvas: 100%;
$offCanvasDesktop: 350px;
