@font-face {
	font-family: "idfive";
	src: url('../fonts/idfive.eot');
	src: url('../fonts/idfive.eot?#iefix') format('eot'),
		url('../fonts/idfive.woff') format('woff'),
		url('../fonts/idfive.ttf') format('truetype'),
		url('../fonts/idfive.svg#idfive') format('svg');
}

.icon:before {
	font-family: "idfive";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-chevron-thin-left:before {
	content: "\E001";
}

.icon-chevron-thin-right:before {
	content: "\E002";
}

.icon-facebook:before {
	content: "\E003";
}

.icon-flickr:before {
	content: "\E004";
}

.icon-instagram:before {
	content: "\E005";
}

.icon-linkedin:before {
	content: "\E006";
}

.icon-minus:before {
	content: "\E007";
}

.icon-pinterest-p:before {
	content: "\E008";
}

.icon-plus:before {
	content: "\E009";
}

.icon-search:before {
	content: "\E00A";
}

.icon-twitter:before {
	content: "\E00B";
}

.icon-vimeo:before {
	content: "\E00C";
}

.icon-vine:before {
	content: "\E00D";
}

.icon-youtube-play:before {
	content: "\E00E";
}
