@font-face {
	font-family: "idfive";
	src: url('../fonts/idfive.eot');
	src: url('../fonts/idfive.eot?#iefix') format('eot'),
		url('../fonts/idfive.woff') format('woff'),
		url('../fonts/idfive.ttf') format('truetype'),
		url('../fonts/idfive.svg#idfive') format('svg');
}

.icon:before {
	font-family: "idfive";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-arrow:before {
	content: "\E001";
}

.icon-facebook:before {
	content: "\E002";
}

.icon-instagram:before {
	content: "\E003";
}

.icon-linkedin:before {
	content: "\E004";
}

.icon-twitter:before {
	content: "\E005";
}

.icon-youtube:before {
	content: "\E006";
}
