@font-face {
	font-family: "idfive";
	src: url('../fonts/idfive.eot');
	src: url('../fonts/idfive.eot?#iefix') format('eot'),
		url('../fonts/idfive.woff') format('woff'),
		url('../fonts/idfive.ttf') format('truetype'),
		url('../fonts/idfive.svg#idfive') format('svg');
}

.icon:before {
	font-family: "idfive";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	/* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
	text-decoration: none;
	text-transform: none;
}


.icon-caret-left:before {
	content: "\E001";
}

.icon-chevron-down:before {
	content: "\E002";
}

.icon-chevron-right:before {
	content: "\E003";
}

.icon-facebook:before {
	content: "\E004";
}

.icon-flickr:before {
	content: "\E005";
}

.icon-heart:before {
	content: "\E006";
}

.icon-magnifying-glass:before {
	content: "\E007";
}

.icon-mail:before {
	content: "\E008";
}

.icon-plus:before {
	content: "\E009";
}

.icon-print:before {
	content: "\E00A";
}

.icon-search:before {
	content: "\E00B";
}

.icon-twitter:before {
	content: "\E00C";
}

.icon-youtube:before {
	content: "\E00D";
}
