//Vertical Align
@mixin vertical-align
{
	position: relative;
	top: 50%;
	@include transform(translateY(-50%));
}

//Calculate Rem font sizes
@function calculateRem($size)
{
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

//Font sizes
@mixin font-size($size)
{
  font-size: $size;
  font-size: calculateRem($size);
}

//Media queries
@mixin breakpoint($breakpoint)
{
	@for $i from 1 to length($breakpoints)
	{	
		@if $breakpoint == (nth( nth($breakpoints, $i), 1))
		{
			@media #{(nth(nth($breakpoints, $i), 2))}
			{
				@content;
			}
		}
	}
}

@mixin is-hidden
{
	display: none;
	outline: 1px solid #f0c;
}

.is-hidden
{
	@include is-hidden;
}

@mixin is-visible
{
	display: inherit;
}

.is-visible
{
	@include is-visible;
}