%svg-common {
	background: url(sprite.svg) no-repeat;
}

.svg-caret-left {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-caret-left-dims {
	width: 10px;
	height: 28px;
}

.svg-chevron-down {
	@extend %svg-common;
	background-position: 3.289473684210526% 8.333333333333334%;
}

.svg-chevron-down-dims {
	width: 20px;
	height: 20px;
}

.svg-chevron-left {
	@extend %svg-common;
	background-position: 9.868421052631579% 14.285714285714286%;
}

.svg-chevron-left-dims {
	width: 20px;
	height: 20px;
}

.svg-chevron-right {
	@extend %svg-common;
	background-position: 16.44736842105263% 20.238095238095237%;
}

.svg-chevron-right-dims {
	width: 20px;
	height: 20px;
}

.svg-facebook {
	@extend %svg-common;
	background-position: 22.727272727272727% 26.829268292682926%;
}

.svg-facebook-dims {
	width: 16px;
	height: 28px;
}

.svg-flickr {
	@extend %svg-common;
	background-position: 28.289473684210527% 34.523809523809526%;
}

.svg-flickr-dims {
	width: 20px;
	height: 20px;
}

.svg-heart {
	@extend %svg-common;
	background-position: 34.86842105263158% 40.476190476190474%;
}

.svg-heart-dims {
	width: 20px;
	height: 20px;
}

.svg-home {
	@extend %svg-common;
	background-position: 41.44736842105263% 46.42857142857143%;
}

.svg-home-dims {
	width: 20px;
	height: 20px;
}

.svg-magnifying-glass {
	@extend %svg-common;
	background-position: 48.026315789473685% 52.38095238095238%;
}

.svg-magnifying-glass-dims {
	width: 20px;
	height: 20px;
}

.svg-mail {
	@extend %svg-common;
	background-position: 54.60526315789474% 58.333333333333336%;
}

.svg-mail-dims {
	width: 20px;
	height: 20px;
}

.svg-plus {
	@extend %svg-common;
	background-position: 61.18421052631579% 64.28571428571429%;
}

.svg-plus-dims {
	width: 20px;
	height: 20px;
}

.svg-print {
	@extend %svg-common;
	background-position: 67.76315789473684% 70.23809523809524%;
}

.svg-print-dims {
	width: 20px;
	height: 20px;
}

.svg-search {
	@extend %svg-common;
	background-position: 75.83892617449665% 78.04878048780488%;
}

.svg-search-dims {
	width: 26px;
	height: 28px;
}

.svg-twitter {
	@extend %svg-common;
	background-position: 82.89473684210526% 84.52380952380952%;
}

.svg-twitter-dims {
	width: 20px;
	height: 20px;
}

.svg-undo {
	@extend %svg-common;
	background-position: 93.15068493150685% 93.82716049382717%;
}

.svg-undo-dims {
	width: 32px;
	height: 32px;
}

.svg-youtube {
	@extend %svg-common;
	background-position: 100% 100%;
}

.svg-youtube-dims {
	width: 20px;
	height: 20px;
}

