// ========================================
// Headings
// ========================================

%heading {
  font-weight: normal;
}


// 1:Heading One
// ----------------------------------------

@mixin h1 {
  @extend %heading;
  font-size: em($h1-size);
  line-height: 1.2;
  color: $m3;
}

h1,
.h1 {
  @include h1;
}


// 2:Heading Two
// ----------------------------------------

@mixin h2 {
  @extend %heading;
  font-size: em($h2-size);
  font-weight: bold;
  line-height: su(em(48, $h2-size));
  color: $m3;
}

h2,
.h2 {
  @include h2;
}


// 3:Heading Three
// ----------------------------------------

@mixin h3 {
  @extend %heading;
  font-size: em($h3-size);
  font-weight: bold;
  line-height: su(em(27, $h3-size));
  color: $m3;
}

h3,
.h3 {
  @include h3;
}


// 4:Heading Four
// ----------------------------------------

@mixin h4 {
  @extend %heading;
  font-size: em($h4-size);
}

h4,
.h4 {
  @include h4;
}


// 5:Heading Five
// ----------------------------------------

@mixin h5 {
  @extend %heading;
  font-size: em($h5-size);
}

h5,
.h5 {
  @include h5;
}


// 6:Heading Six
// ----------------------------------------

@mixin h6 {
  @extend %heading;
  font-size: em($h6-size);
  font-weight: bold;
  text-transform: uppercase;
}

h6,
.h6 {
  @include h6;
}


// ========================================
// Text Alignment Classes
// ========================================

.center {
  text-align: center;
}

.right {
  text-align: right;
}


// ========================================
// Text Property Utilities
// ========================================

.uppercase {
  text-transform: uppercase;
}


// ========================================
// Text Color Utilities
// ========================================

.inherit-color {
  color: inherit;
}

.m1 {
  color: $m1;
}

.m2 {
  color: $m2;
}

.m3 {
  color: $m3;
}
