//Colors
//Bring in color names and values

//Base Font Size
$base-font-size: 16;

//Change max width of the grid if needed
//$max-width: 1120px;

//Media Queries
$iphone: new-breakpoint(max-width 320px 12);
$tiny: new-breakpoint(min-width 480px 12);
$small: new-breakpoint(min-width 630px 12);
$medium: new-breakpoint(min-width 823px 12);
$medium-plus: new-breakpoint(min-width 923px 12);
$large: new-breakpoint(min-width 1000px 12);
$x-large: new-breakpoint(min-width 1300px 12);