//- ========================================
//- Image Inclusion
//- ========================================

mixin image(name, alt)
  img(
    src="./assets/images/#{name}",
    alt="#{description}"
  )
