//- ========================================
//- Main Site Template
//- ========================================

doctype html
html(
  dir="ltr"
  lang="en-US"
)
  include ../regions/head.jade
  include ../mixins/symbol.jade
  include ../mixins/image.jade
  include ../mixins/forms.jade
  body
    block content
    
    
