// ========================================
// Silk Accordion
// ========================================

.silk-accordion {}

  // Accordion item header container
  .silk-accordion__header {

    a {
      @extend %silk-toggle;
    }

  }

  // Accordion item content container
  .silk-accordion__content {
    opacity: 1;
    transition: opacity .3s;

    &.is-hidden {
      opacity: 0;
    }

  }
