// ========================================
// Silk Accordion
// ========================================

.silk-accordion {

  &__header {

    h1, h2, h3, h4, h5, h6 {
      @extend %silk-reset-type;
    }

    a {
      @extend %silk-toggle-content;
    }

  }

  &__content {
    opacity: 1;
    transition: opacity .3s;

    &.is-hidden {
      opacity: 0;
    }

  }

}
