// ========================================
// Silk Utilities
// ========================================

%silk-reset-type {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 400;
}

%silk-toggle-content {
  position: relative;
  display: block;
  text-decoration: none;

  &:before {
    display: inline-block;
    content: '>';
    transition: transform .3s;
  }

  &.is-active {

    &:before {
      @include transform(rotate(90deg));
    }

  }

}


// ========================================
// Silk Resets
// ========================================

[class^='silk'] {

  ul {
    @include list-reset;
  }

}
