// ========================================
// Silk Utilities
// ========================================

%silk-toggle {
  position: relative;
  text-decoration: none;
  color: inherit;

  &:before {
    display: inline-block;
    content: '>';
    transition: transform .3s;
  }

  &.is-active {

    &:before {
      transform: rotate(90deg);
    }

  }

}


// ========================================
// Silk Resets
// ========================================

[class^='silk'] {

  ul {
    @include list-reset;
  }

}
