// ========================================
// Silk Grid
// ========================================

.grid {
  @include clearfix;
  margin-right: $column-between * -1;
  margin-left: $column-between * -1;
}


// ========================================
// Silk Columns
// ========================================

// http://codepen.io/mimoduo/pen/vOMxLE

[class^='col'] {
  float: left;
  margin: 0 $column-between $column-between * 2;
  width: 98%;
}

@for $i from 1 to length($breakpoints) + 1 {

  @include media(nth(nth($breakpoints, $i), 1)) {

    // Column
    @for $x from 1 to $column-base {

      .col-#{nth(nth($breakpoints, $i), 1)}-#{$x} {
        width: 100% / $column-base * $x - $column-between * 2;
      }

    }

    // Push
    @if $column-push-desired {

      @for $x from 1 to $column-base {

        .col-#{nth(nth($breakpoints, $i), 1)}-push-#{$x} {
          margin-left: 100% / $column-base * $x + $column-between;
        }

      }

    }

    // Pull
    @if $column-pull-desired {

      @for $x from 1 to $column-base {

        .col-#{nth(nth($breakpoints, $i), 1)}-pull-#{$x} {
          margin-left: 100% / $column-base * $x * -1 + $column-between;
        }

      }

    }

  }

}
