// ========================================
// Silk Nav
// ========================================

.silk-nav {
  @include clearfix;

  // Resets
  ul {
    @include list-reset;
  }

  // JS version
  .js & {
    overflow-x: hidden;

    @include breakpoint($silk-nav-expanded) {
      overflow-x: inherit;
      min-height: 0 !important; // Overrides inline style added by JS
    }

    > ul {
      position: relative;
      left: 0;
      @include transition(left .25s ease-in);

      ul {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;

        &.hidden {
          display: none;
        }

      }

    }

      .parent {

        > *:first-child {
          position: relative;
        }

      }

        a {
          display: block;
          padding: em(10);
        }

          .next {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: em(50);

            @include breakpoint($silk-nav-expanded) {
              display: none;
            }

            &:after {
              position: absolute;
              content: '>';
              top: 50%;
              left: 50%;
              @include transform(translate(-50%, -50%));
            }

          }

          .back {

            @include breakpoint($silk-nav-expanded) {
              display: none;
            }

            &:before {
              display: inline-block;
              content: '<';
            }

          }

    @include breakpoint($silk-nav-expanded) {

      &.vertical {
        max-width: em(200);
        width: 100%;

        > ul {

          ul {
            top: 0;
            left: 100%;
          }

        }

      }

      > ul {
        position: static;

        ul {
          top: 100%;
          left: 0;
          display: none;
          width: 200px;

          ul {
            top: 0;
            left: 100%;
            z-index: 200;
          }

        }

        li {
          position: relative;
          float: left;
          border: 0;

          &:hover {

            > ul {
              display: block;
            }

          }

        }

      }

      &.menuaim {

        li {

          ul {

            li {

              &:hover {

                > ul {
                  display: none;
                }

              }

              &.hover {

                > ul {
                  display: block;
                }

              }

            }

          }

        }

      }

    }

  }

}
