/* ========================================
// Silk Nav
// ===================================== */

.silk-nav {

  ul {

    ul {
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 200;
      height: 100%;
      width: 100%;
      background: #fff;
      opacity: 0;
      transform: translate(0, 0);
      transition:
        opacity .4s,
        transform .4s;

      @include media($silk-drawer-disappears) {
        top: 100%;
        left: 0;
        display: none;
        height: auto;
        opacity: 1;
      }

      @at-root .silk-nav > ul > li:hover > ul {

        @include media($silk-drawer-disappears) {
          display: block;
        }

      }

      &.silk-menu--active {
        opacity: 1;
        transform: translate(-100%, 0);
        transition:
          opacity .4s,
          transform .4s cubic-bezier(.175, .885, .24, 1.11);

        @include media($silk-drawer-disappears) {
          transform: none;
        }

      }

    }

  }

}

  .trigger--revert,
  .trigger--reverse {
    opacity: 0;
    visibility: hidden;
    transition:
      opacity .3s,
      visibility .3s;

    .silk-menu--active & {
      opacity: 1;
      visibility: visible;
    }

  }
