// ========================================
// Silk Off Canvas Slide
// ========================================

// This controlls off canvas section. see nav.scss for specifics to off canvas nav
// width and position controlled by $offCanvas, and $offCanvasDesktop in config.

#site-wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

#site-canvas {
  position: relative;
  width: 100%;
  height: 100%;
}

#site-offCanvas {
  position: fixed;
  top: 0;
  right: $offCanvas * -1;
  z-index: 100;
  overflow: scroll;
  height: 100vh;
  width: $offCanvas;
  background-color: #ccc;

  @include breakpoint('medium') {
    right: $offCanvasDesktop * -1;
    width: $offCanvasDesktop;
  }

}

#site-header,
#site-offCanvas,
#site-canvas {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
}

#site-wrapper.show-nav #site-canvas,
#site-header.show-nav,
#site-offCanvas.show-nav {
  -webkit-transform: translateX($offCanvas * -1);
  transform: translateX($offCanvas * -1);

  @include breakpoint('medium') {
    -webkit-transform: translateX($offCanvasDesktop * -1);
    transform: translateX($offCanvasDesktop * -1);
  }

}
