body
{
	@include transition(margin .25s ease-in-out);
	
	.js &
	{
		&.silk-offcanvas-active
		{
		}
		
		.silk-offcanvas
		{
			position: fixed;
			width: 30%;
			height: 100%;
			top: 0;
			left: -30%;
			z-index: 99999;
			overflow-y: auto;
			background: #fff;
			@include transition(left .25s ease-in-out);
			
			&.visible
			{
				left: 0;
			}
			
			&.right
			{
				left: auto;
				right: -30%;
				@include transition(right .25s ease-in-out);
				
				&.visible
				{
					right: 0;
				}
			}
		}
	}	
}