<<<<<<< HEAD
.silk-table
{
	width: 100%;
	border-spacing: 0;
	font-size: 100%;
	margin-bottom: 1em;
	// Fix weird block display issue related to desktop hide/show
	&.visible-desktop {
		//display: table !important;
	}

	th,td
	{
		padding: 10px;
		border-bottom: 1px solid #eee;
	}

	thead
	{
		th
		{
			background: #f9f9f9;
			text-align: left;
		}
	}

	&-collapsed
	{
		margin-bottom: 1em;

		ul, li
		{
			margin: 0;
			padding: 0;
			list-style: none;
		}

		h3
		{
			margin: 0;
			padding: 10px;
			font-size: 100%;
			background: #f9f9f9;
			border-bottom: 1px solid #eee;
		}

		div
		{
			padding: 10px;
		}
	}
=======
/* ========================================
// Silk Table
// ===================================== */

.silk-table {
  display: none;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;

  @include media($silk-table-expanded) {
    display: block;
  }

  /* Header table cells */
  th {
    @include h4;
    text-align: left;
  }

  /* Regular table cells */
  td {

    /* Every td in every odd row */
    @at-root .silk-table tr:nth-of-type(odd) td {}

  }

  /* Collapsed table */
  @at-root .silk-table--collapsed {

    @include media($silk-table-expanded) {
      display: none;
    }

    li {

      /* The first header of every column */
      &:first-child h4 {}

      /* Odd "rows" within every column */
      &:nth-of-type(odd) div {}

    }

  }

>>>>>>> d5d7e39fbf9435818912f8c64e2035526e56bdfe
}
