// ========================================
// Silk Tabs
// ========================================

$silk-tabs-accordion: 'small' !default;

.silk-tabs {

  > .silk-tabs__nav {
    display: none;

    ul {
      @include clearfix;
      margin: 0;
      padding: 0;
      list-style: none;
    }

      li {
        float: left;
      }

        a {
          display: block;
        }

  }

  &__header {

    h1, h2, h3, h4, h5, h6 {
      @extend %silk-reset-type;
    }

    a {
      @extend %silk-toggle-content;
    }

  }

  &__content {
    opacity: 1;
    transition: opacity .3s;

    &.is-hidden {
      opacity: 0;
    }

    &.is-hidden-accordion {
      display: none;
      opacity: 0;
    }

  }

  @include breakpoint($silk-tabs-accordion) {

    .silk-tabs__header {
      display: none;
    }

    .silk-tabs__content {

      &.is-hidden-accordion {
        display: inherit;
        opacity: 1;
      }

    }

    > .silk-tabs__nav {
      display: block;
    }

  }

}
