// ========================================
// Silk Tables
// ========================================

.silk-table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;
  font-size: 100%;

  thead {

    th {
      text-align: left;
    }

  }

  &-collapsed {
    margin-bottom: 1em;

    ul, li {
      @include list-reset;
    }

    h3 {
      @extend %silk-reset-type;
      font-weight: 700;
    }

  }

}
