// ========================================
// Silk Table
// ========================================

.silk-table {
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;

  thead {}

  tbody {}

  th {
    font-weight: normal;
    text-align: left;
  }

  td {

    // Every td in every odd row
    @at-root .silk-table tr:nth-of-type(odd) td {}

  }

  &--collapsed {

    @include breakpoint($silk-table-expanded) {
      display: none;
    }

    h3 {
      font-weight: 700;
    }

  }

}
