/* ========================================
// Site Address
// ===================================== */

.vcard {

  a {
    display: block;
  }

}


/* ========================================
// Callout
// ===================================== */

/* Plain Callout
// ------------------------------------- */

[class^='callout'] {
  margin-bottom: em(20);
  padding: em(20);
}


/* Additional Callouts
// ------------------------------------- */

.callout--color {}
