/* ========================================
// Media
// ===================================== */

/* Figure
// ------------------------------------- */

figure {
  margin: 0;

  img {
    display: block;
    width: 100%;
  }

}

  figcaption {}


/* Image
// ------------------------------------- */

img {

  &.full-width {
    display: block;
    width: 100%;
  }

}


/* Iframe
// ------------------------------------- */

iframe {}


/* SVG
// ------------------------------------- */

svg {}


/* Video
// ------------------------------------- */

video {}
