/* ========================================
// Media
// ===================================== */

/* Figure
// ------------------------------------- */

figure {
  margin: 0;

  img {
    display: block;
    width: 100%;
  }

}

  figcaption {
    margin-top: em(10);
    font-style: italic;
  }


/* Image
// ------------------------------------- */

img {

  &.full-width {
    display: block;
    width: 100%;
  }

  .hero & {
    display: none;
  }

}


/* Iframe
// ------------------------------------- */

iframe {

  .silk-modal__details & {
    width: 100%;
  }

}


/* SVG
// ------------------------------------- */

svg {}


/* Video
// ------------------------------------- */

video {}
