/* ========================================
// Sections
// ===================================== */

.section {
  padding: em(20);
}


/* ========================================
// Situational
// ===================================== */

.block-out {
  overflow: hidden;
  width: auto;
}
