/* ========================================
// Sections
// ===================================== */

.content {
  padding: em(40) em(20);
}


/* ========================================
// Situational
// ===================================== */

.block-out {
  overflow: hidden;
  width: auto;
}
