// ========================================
// Debug
// ========================================

.id5debug {

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    display: block;
    content: "Default";
    font-size: 12px;
    text-align: center;
    background: #ffc;
  }

}
