// ========================================
// Breakpoint Debug
// ========================================

.id5debug {

  &:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    display: block;
    padding: 1em;
    content: "Default";
    background: rgba(#eff, .85);

    @for $i from 1 to length($breakpoints) + 1 {

      @media (min-width: nth(nth($breakpoints, $i), 2)) {
        content: (nth(nth($breakpoints, $i), 1));
      }

    }

  }

}


// ========================================
// Grid Checker
// ========================================

$grid-check: null;

@for $i from 0 through $column-base {

  $grid-check: append($grid-check, rgba(#f0c, .25) (100% / $column-base * $i), comma);
  $grid-check: append($grid-check, rgba(#f0c, 0) (100% / $column-base * $i), comma);
  $grid-check: append($grid-check, rgba(#f0c, 0) (100% / $column-base * $i + ($column-between)), comma);
  $grid-check: append($grid-check, rgba(#f0c, .25) (100% / $column-base * $i + ($column-between)), comma);

}

body {

  &:before {
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 400;
    display: none;
    height: 100%;
    max-width: em($boundary);
    width: 100%;
    content: '';
    background:
      linear-gradient(
        to right,
          $grid-check);
    transform: translate(-50%, 0);

    @at-root .debug-grid:before {
      display: block;
    }

  }

}
