body
{
	&.id5debug
	{
		&:before
		{
			position: fixed;
			display: block;
			background: #ffc;
			text-align: center;
			content: "Default";
			font-size: 12px;
			z-index: 9999;
			top: 0;
			left: 0;
			
			@for $i from 1 to length($breakpoints)
			{	
				@media #{(nth(nth($breakpoints, $i), 2))}
				{
					content: (nth( nth($breakpoints, $i), 1));
				}
			}
		}	
	}
}