/* ========================================
// Media Queries
// ===================================== */

@mixin media($breakpoint) {

  @media (min-width: map-get($breakpoints, $breakpoint) / 16 * 1em) {
    @content;
  }

}


/* ========================================
// Vertical Center
// ===================================== */

@mixin vertical-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translate(0, -50%);
}

.vertical-center {
  @include vertical-center;
}


/* ========================================
// Clearfix
// ===================================== */

@mixin clearfix {

  &:after {
    clear: both;
    content: '';
    display: table;
  }

}


/* ========================================
// Compartment
// ===================================== */

@mixin compartment($width) {
  @include clearfix;
  margin: 0 auto;
  max-width: $width * 1px;
  max-width: rem($width);
}

.compartment {
  @include compartment($boundary);
}


/* ========================================
// List Reset
// ===================================== */

/* Resets browser defaults of a list */

@mixin list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.list-reset {
  @include list-reset;
}


/* ========================================
// Visually Hidden
// ===================================== */

@mixin visible-for-screen-readers {
  position: absolute;
  left: -10000px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}

.visible-for-screen-readers {
  @include visible-for-screen-readers;
}

@mixin visible-for-all {
  position: inherit;
  left: static;
  top: static;
  overflow: visible;
  width: auto;
  height: auto;
}

.visible-for-all {
  @include visible-for-all;
}


/* ========================================
// Collage Mixin
// ===================================== */

/* $column-span: how many columns does the item span across? */
/* $row-span: how many rows does the item span across? */
/* $column-placement: starting from 0, which column does your item's left edge fall into? */
/* $row-placement: starting from 0, which row does your item's top edge fall into? */
/* $column-max: how many columns are in the collage? */
/* $row-max: how many rows are in the collage? By default it will equal the amount of columns in the collage. */

@mixin collage($column-span, $row-span, $column-placement, $row-placement, $column-max, $row-max: $column-max) {
  $row-placement: $row-placement - 1;
  $column-placement: $column-placement - 1;
  top: percentage($row-placement / $row-max);
  left: percentage($column-placement / $column-max);
  height: percentage($row-span / $row-max);
  width: percentage($column-span / $column-max);
}
