/* ========================================
// Styles Manifest
// ===================================== */

@import "base/config";

@media screen {

  @import
    "helpers/functions",
    "helpers/mixins",
    "helpers/normalize",
    "helpers/utilities";

  @import
    "base/typography",
    "base/symbols";

  @import
    "silk/accordion",
    "silk/base",
    "silk/drawer",
    "silk/grid",
    "silk/nav",
    "silk/style-tile",
    "silk/table",
    "silk/tabs";

  @import
    "layouts/index",
    "layouts/columns",
    "layouts/header",
    "layouts/footer";

  @import
    "navigation/shared",
    "navigation/main",
    "navigation/unique";

  @import
    "modules/basic",
    "modules/buttons",
    "modules/forms",
    "modules/hero",
    "modules/media",
    "modules/unique";

}

@media print {

  @import "print/print";

}
