// ========================================
// Column Configurations
// ========================================

// Configure the space around each column
$column-between: 1%;

// Configure when columns float around
// column-1-of-2, column-1-of-3, column-1-of-4
$columns: '', medium, x-large, huge;


// ========================================
// Column Container / Column Behavior
// ========================================

@mixin container-stretch($column-between: 0) {
  margin-right: $column-between * -1;
  margin-left: $column-between * -1;
}

@mixin column-breath($column-between: 0) {
  margin-right: $column-between;
  margin-left: $column-between;
}

@for $i from 1 through 4 {

  .container-of-#{$i} {

    @include breakpoint(nth($columns, $i)) {
      @include container-stretch(1%);
      @include clearfix;
    }

  }

    .column-1-of-#{$i} {

      @include breakpoint(nth($columns, $i)) {
        @include column-breath(1%);
        float: left;
        width: 100% / $i - $column-between * 2;
      }

    }

}
