// ========================================
// Grid Behavior
// ========================================

.grid {
  @include clearfix;
  margin-right: $column-between * -1;
  margin-left: $column-between * -1;

  &--styled {

    > * > * {
      margin-bottom: $column-between * 2;
      padding: em(10);
      background: #eee;
    }

  }

}


// ========================================
// Column Behavior
// ========================================

[class^='col'] {
  float: left;
  width: 100%;
  margin-right: $column-between;
  margin-left: $column-between;
}

@for $i from 1 through 6 {

  .col-#{$i} {

    @if $i / 2 == 2 or $i / 3 == 2 {

      @include breakpoint(nth($columns, 2)) {
        width: 100% / 2 - $column-between * 2;
      }

    }

    @if $i / 3 == 2 {

      @include breakpoint(nth($columns, 3)) {
        width: 100% / 3 - $column-between * 2;
      }

    }

    @include breakpoint(nth($columns, $i)) {
      width: 100% / $i - $column-between * 2;
    }

  }

}


// ========================================
// Cotton
// ========================================

@for $m from 1 to length($breakpoints) + 1 {

  @for $x from 2 through 12 {

    .col-#{$x}-#{nth(nth($breakpoints, $m), 1)} {

      @include breakpoint(nth(nth($breakpoints, $m), 1)) {
        width: 100% / $x - $column-between * 2;
      }

    }

  }

}
