// ========================
// Drawer Trigger
// ========================

.drawer__trigger {
  position: relative;
  float: right;
  display: block;
  height: em(82);
  width: em(75);
  border: 0;
  padding: 0;
  background: none;
  color: transparent;
  outline: 0;
  transition: transform .6s;

  &:not(.drawer__trigger--mini) {
    margin-right: em(-20);

    @include breakpoint('tiny') {
      height: em(112);
    }

  }

  $stripe-height: 5;
  $stripe-width: 75;
  $stripe-space: 5;

  &:before,
  &:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: em($stripe-height);
    width: percentage(($stripe-width - 20 * 2) / $stripe-width);
    content: '';
    background: $m6;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition:
      background .4s,
      box-shadow .4s,
      margin .4s,
      transform .4s;
  }

  &:before {
    margin-top: em(($stripe-height + $stripe-space) * -1);
  }

  &:after {
    box-shadow: 0 em($stripe-height + $stripe-space) 0 0 $m6;
  }

  &--mini {
    font-size: 48%;

    &:before,
    &:after {
      background: #fff;
    }

  }


  // Active Trigger State
  // ========================
  [data-drawer-state="visible"] & {
    background: transparent;
    transform: rotate(-180deg);

    &:before,
    &:after {
      background: $m6;
    }

    @at-root &--mini:before {
      background: #fff;
    }

    @at-root &--mini:after {
      background: #fff;
    }

    &:before {
      margin-top: 0;
      -webkit-transform:
        translate(-50%, -50%)
        rotate(-45deg);
      transform:
        translate(-50%, -50%)
        rotate(-45deg);
    }

    &:after {
      box-shadow: 0 0 0 0 transparent;
      -webkit-transform:
        translate(-50%, -50%)
        rotate(45deg);
      transform:
        translate(-50%, -50%)
        rotate(45deg);
    }

  }

}


// ========================
// Off Canvas Menu
// ========================

@mixin drawer($direction, $transform-intensity: 20%) {
  position: fixed;
  min-height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;

  @if $direction == 'ltr' {
    transform: translate3d($transform-intensity * -1, 0, 0);
    transform: translate($transform-intensity * -1, 0);
  } @else if $direction == 'rtl' {
    // Look for horizontal scrollbars!
    -webkit-transform: translate3d($transform-intensity, 0, 0);
    -webkit-transform: translate($transform-intensity, 0);
    transform: translate3d($transform-intensity, 0, 0);
    transform: translate($transform-intensity, 0);
  } @else if $direction == 'ttb' {
    transform: translate3d(0, $transform-intensity * -1, 0);
    transform: translate(0, $transform-intensity * -1);
  } @else {
    transform: translate3d(0, $transform-intensity, 0);
    transform: translate(0, $transform-intensity);
  }

}

@mixin active-drawer {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  transform: translate(0, 0);
}

.drawer {
  @include drawer(rtl);
  top: 0;
  right: 0;
  z-index: 400;
  overflow: hidden;
  max-width: em(365);
  background: #fff;
  transition:
    opacity .4s,
    visibility .4s,
    transform .4s;

  // Active Canvas State
  // ========================
  [data-drawer-state="visible"] & {
    @include active-drawer;
  }

  &__utilities {
    background: $m6;
  }

}

  .contains-tray {
    position: relative;

    ul {
      @include drawer(rtl, 0);
      position: fixed;
      top: em(39 + 90);
      right: 0;
      z-index: 200;
      background: #fff;
      height: 100%;
      width: 100%;
      transition: opacity .3s;

      @at-root .contains-tray .tray--visible {
        @include active-drawer;
      }

    }

  }

    .trigger--tray {
      position: absolute;
      top: 0;
      right: 0;
      height: em(56);
      width: em(56);
      border: 0;
      border-left: 1px solid rgba(#000, .1);
      padding: 0;
      text-align: center;
      background: #f9f9f9;
      outline: 0;
      transition: background .3s;

      &:before {
        position: absolute;
        top: 50%;
        right: 0;
        width: 100%;
        color: $m4;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        transition: color .3s;
      }

      &:hover {
        background: darken(#f9f9f9, 2.5%);

        &:before {
          animation: .5s doot 3;
          color: darken($m4, 5%);
        }

      }

    }

    .trigger--back {
      display: block;
      width: 100%;
      border: 0;
      border-bottom: 1px solid rgba(#000, .1);
      padding: em(16, 16) 0;
      font-size: em(16);
      text-align: left;
      background: rgba($m6, .15);
      color: $m6;
      outline: 0;
      transition: background .3s;

      &:before {
        display: inline-block;
        margin-left: em(27, 16);
        padding-left: em(6, 16);
        color: $m4;
        transform: scaleX(-1);
        transition: color .3s;
      }

      &:hover {
        background: rgba($m6, .25);

        &:before {
          animation: .5s backwards-doot 3;
        }

      }

    }

@keyframes doot {

  50% {
    transform: translate(em(10), -50%);
  }

}

@keyframes backwards-doot {

  50% {
    transform:
      translate(em(-10), 0)
      scaleX(-1);
  }

}
