// ========================================
// Root Layer
// ========================================

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: $content-family;
  color: $content-color;
}

  body {
    font-size: em($content-size, 16);
    line-height: su(em($content-line, $content-size));
  }
