// ========================================
// Root Layer
// ========================================

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: $base-font-family;
  color: $base-font-color;
}

  body {
    font-size: em($base-font-size);
    line-height: em(28, $base-font-size);
  }


// ========================================
// Compartment
// ========================================

.compartment,
.l-wrapper {
  @include outer-container;
}
