// ========================================
// Root Layer
// ========================================

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-family: $base-font-family;
  color: $base-font-color;
}

  body {
    overflow-x: hidden;
    font-size: em($base-font-size, 16);
    line-height: su(em(28, $base-font-size));
  }


// ========================================
// Compartment
// ========================================

.compartment,
.l-wrapper {
  @include clearfix;
  margin: 0 auto;
  max-width: em(1400);
}
