// ========================================
// Navigation
// ========================================

nav {

  ul {
    @include list-reset;
  }

    a {
      display: block;
      text-decoration: none;
    }

}


// ========================================
// Unique Navigation
// ========================================

@mixin tier-label {
  padding-top: em(10, 22);
  padding-bottom: em(10, 22);
  font-size: em(22);
  text-transform: uppercase;
}

@mixin nav-trigger {
  border: 0;
  padding: 0;
  height: em(50);
  width: em(50);
  background: none;
  outline: 0;
}

.nav-main {

  @include media($silk-drawer-disappears) {
    overflow: visible;
  }

  > ul {

    > li {

      @include media($silk-drawer-disappears) {
        display: inline-block;
        vertical-align: top;
      }

      > a:not(.trigger--home) {
        @include tier-label;
      }

      > ul {
        top: em(50);

        @include media($silk-drawer-disappears) {
          top: 100%;
        }

      }

    }

  }

  ul {}

    li {

      @include media($silk-drawer-disappears) {
        position: relative;
      }

    }

      a {
        display: block;
        padding: em(14) rem(70);
        text-decoration: none;
        box-shadow: inset 0 -1px 0 0 rgba(#000, .15);

        @include media($silk-drawer-disappears) {
          padding: em(14) rem(20);
          box-shadow: none;
        }

      }

      @at-root .nav-main ul > a {
        @include tier-label;

        @include media($silk-drawer-disappears) {
          display: none;
        }

      }

      @at-root .trigger--advance {
        @include nav-trigger;
        clear: both;
        float: right;
        box-shadow: -1px 0 0 0 rgba(#000, .15);
        transform: translate(0, -100%);

        @include media($silk-drawer-disappears) {
          display: none;
        }

      }

}

  .silk-nav__controls {
    @include clearfix;
    position: relative;
    background: rgba(#000, .15);

    @include media($silk-drawer-disappears) {
      display: none;
    }

    .trigger--home {
      float: left;
      border-right: 1px solid rgba(#000, .15);
      padding-right: em(20);
      padding-left: em(20);
      box-shadow: none;
    }

      i {
        line-height: 1;
      }

  }

    .trigger--revert {
      float: left;
      border: 0;
      padding: em(14) em(20);
      background: none;
      outline: 0;
    }

    .trigger--reverse {
      @include nav-trigger;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 300;
      width: 100%;
      padding-left: em(20);
      text-align: left;
    }


// ========================================
// Unique Navigation
// ========================================

.nav-example {

  ul {}

    li {}

      a {

        &:hover {}

      }

}
