/* ========================================
// Main Navigation
// ===================================== */

.nav-main {

  > ul {

    > li {

      @mixin media $silkDrawerDisappears {
        position: relative;
        display: inline-block;
      }

      &:hover {

        > ul {

          @mixin media $silkDrawerDisappears {
            display: block;
          }

        }

      }

      @define-mixin tier-one {
        padding: em(10);
      }

      > a {
        @mixin tier-one;
      }

      ul {
        background: #fff;

        @mixin media $silkDrawerDisappears {
          width: em(220);
        }

        a {
          padding: em(10);
          padding-left: em(70);

          @mixin media $silkDrawerDisappears {
            padding-left: em(10);
          }

        }

        /* Hidden above silkDrawerDisappears */
        
        > a {
          @mixin tier-one;
          padding-left: em(70);
        }

      }

    }

  }

}
