/* ========================================
// Main Navigation
// ===================================== */

.nav-main {

  > ul {

    > li {

      @mixin media $silkDrawerDisappears {
        position: relative;
        display: inline-block;
      }

      &:hover {

        > ul {

          @mixin media $silkDrawerDisappears {
            display: block;
          }

        }

      }

      > a {}

      ul {
        background: #fff;
        
        a {}

      }

    }

  }

}
