// ========================================
// Callout
// ========================================

// Plain Callout
// ----------------------------------------

[class^='callout'] {
  margin-bottom: em(20);
  padding: em(20);
}


// Additional Callouts
// ----------------------------------------

.callout--color {}


// ========================================
// Lead In
// ========================================

.lead-in {
  @include h6;
}


// ========================================
// Pillow
// ========================================

// For generic full-width sections
.pillow {
  padding: em(20);

  // For large sections / page__content
  &--main {
    padding: em(100) em(20);
  }

}


// ========================================
// Push
// ========================================

.push {
  margin: em(20) 0;

  &--top {
    margin-top: em(20);
  }

  &--bottom {
    margin-bottom: em(20);
  }

}
