// ========================================
// Buttons
// ========================================

[class*='button'] {
  display: inline-block;
  border: 0;
  margin: 0 em(10) em(10) 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  transition:
    background .2s,
    box-shadow .2s,
    color .2s,
    transform .2s;

  &:active {
    transform: scale(.95);
  }

}


// Additional Buttons
// ----------------------------------------

.button--color {

  &:hover {}

}


// ========================================
// Site Logo/Link
// ========================================

// If the site logo is text based

.site__link {
  display: block;
  text-decoration: none;
}

// If the site logo is image based
// Set the max-width to the logo's size
// overflow: hidden and white-space: nowrap prevent line breaks

.site__logo {
  display: block;
  overflow: hidden;
  max-width: em(200);
  width: 100%;
  white-space: nowrap;
  background: url('../images/logo.svg') no-repeat 0 0;
  background-size: contain;
  color: transparent;

  &:hover {
    color: transparent;
  }

}
