// ========================================
// Buttons
// ========================================

@mixin button($color) {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: $color;
  transition:
    background .3s,
    box-shadow .3s,
    color .3s;

  &:hover {
    background: darken($color, 5%);
  }

}


// Default Button
// ----------------------------------------

[class^='button'] {
  @include button(#f5f5f5);
}

// Additional Button
// ----------------------------------------

.button--gray {
  @include button(#eee);
}


// ========================================
// Site Logo/Link
// ========================================

// Set the max-width to the logo's size
// overflow: hidden and white-space: nowrap prevent line breaks

.site__logo {
  display: block;
  overflow: hidden;
  max-width: em(200);
  width: 100%;
  white-space: nowrap;
  background: url('../images/logo.png') no-repeat 0 0;
  background-size: contain;
  color: transparent;
}


// ========================================
// Unique Buttons/Trigger
// ========================================
