// ========================================
// Media
// ========================================

// Figure
// ----------------------------------------

figure {
  margin: 0;

  // display: block removes the small space underneath of a photo
  img {
    display: block;
    width: 100%;
  }

}

  figcaption {}


// Image
// ----------------------------------------

img {}


// Iframe
// ----------------------------------------

iframe {}


// SVG
// ----------------------------------------

svg {}


// Video
// ----------------------------------------

video {}
