// ========================================
// Figure
// ========================================

figure {
  margin: 0;

  @at-root .bubble {
    overflow: hidden;
    height: em(210);
    width: em(210);
    border: em(3) solid $m6;
    margin: 0 auto;
    border-radius: 100%;
    transition: border-color .3s;

    img {
      height: 100%;
      object-fit: cover;
      object-position: 25% 50%;
    }

  }

  @at-root .shoe--orange {
    margin-bottom: em(-43);
  }

  img {
    display: block;
    width: 100%;
  }

}


// ========================================
// Slideshow
// ========================================

[class*='slideshow__slides'] {
  position: relative;

  > * {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;

    &.active {
      position: relative;
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }

  }

}

[class^='slideshow__pagination'] {
  text-align: center;

  span {
    display: inline-block;
    vertical-align: top;
    height: em(12);
    width: em(12);
    margin: 0 em(4);
    cursor: pointer;
    background: #fff;
    border: 1px solid $m6;
    border-radius: 100%;
    transition: background .3s;

    &:hover {
      background: rgba($m6, .5);
    }

    &.active {
      background: $m6;
    }

  }

}
