$tnav-expanded: 'large' !default;

.silkmenu
{
	//Resets
	ul, li
	{
		padding: 0;
		margin: 0;
		list-style: none;
	}
	
	//Non-js version
	> ul
	{
		a
		{
			display: block;
			text-decoration: none;
			padding: 10px;
			color: #000;
			@include transition(background .15s ease-in-out);
			
			&:hover
			{
				background: #f9f9f9;
			}
		}
		
		li
		{
			ul
			{
				padding-left: 20px;
			}
		}
	}
	
	//JS version
	.js &
	{
		overflow-x: hidden;
		
		> ul
		{
			position: relative;
			left: 0;
			@include transition(left .25s ease-in);
			
			ul
			{
				position: absolute;
				top: 0;
				left: 100%;
				width: 100%;
				
				&.hidden
				{
					display: none;
				}
			}
			
			li
			{
				border-bottom: 1px solid #eee;
				
				ul
				{
					padding: 0;
				}
			}
			
			.parent
			{
				> a
				{
					position: relative;
					
					.next
					{
						position: absolute;
						right: 0;
						top: 0;
						height: 100%;
						background: #f9f9f9;
						width: 40px;
						border-left: 1px solid #eee;
						
						&:after
						{
							position: absolute;
							content: "";
							border-top: 5px solid transparent;
							border-bottom: 5px solid transparent;
							border-left: 5px solid #000;
							top: 50%;
							margin-top: -5px;
							left: 50%;
							margin-left: -3px;
						}
						
						&:hover
						{
							background: #000;
							
							&:after
							{
								border-left-color: #fff;
							}
						}
					}
				}				
			}
			
			.back
			{
				background: #f1f1f1;
				
				&:before
				{
					display: inline-block;
					content: "";
					margin-right: 10px;
					border-top: 5px solid transparent;
					border-bottom: 5px solid transparent;
					border-right: 5px solid #000;
				}
				
				&:hover
				{
					background: #f1f1f1;
				}
			}
		}
		
		@include breakpoint($tnav-expanded)
		{
			overflow-x: inherit;
			min-height: 0 !important; //Overrides inline style added by JS
			border-bottom: 1px solid #eee;
			@include clearfix;
			
			> ul
			{
				position: static;
				@include clearfix;
				
				ul
				{
					display: none;
					width: 200px;
					left: 0;
					top: auto;
					
					ul
					{
						left: 100%;
						top: 0;
						z-index: 50;
					}
				}
				
				li
				{
					position: relative;
					float: left;
					border: 0;
					
					li
					{
						float: none;
						background: #f9f9f9;
						
						a:hover,
						&:hover
						{
							background: #f1f1f1;
						}
					}
					
					&:hover
					{
						background: #f9f9f9;
					}
				}
				
				> li
				{
					&.parent
					{					
						> a
						{
							&:after
							{
								position: relative;
								display: inline-block;
								float: right;
								content: "";
								border-top: 5px solid #000;
								border-left: 5px solid transparent;
								border-right: 5px solid transparent;
								top: 7px;
								left: 7px;
								margin-right: 10px;
							}
						}
						
						.next
						{
							display: none;
						}					
					}
				}
				
				li
				{
					&:hover
					{
						> ul
						{
							display: block;
						}
					}
				}
				
				.back
				{
					display: none;
				}
			}
			
			&.menuaim
			{
				li
				{
					ul
					{
						li
						{
							&:hover
							{
								> ul
								{
									display: none;
								}
							}
							
							&.hover
							{
								> ul
								{
									display: block;
								}
							}
						}
					}
				}
			}
		}
	}
}