// ========================================
// Unique
// ========================================

.hero {
  background-position: 50% 50%;
  background-size: cover;

  &--empty {
    height: 30vw;
    max-height: em(500);
    min-height: em(300);
  }

  img {
    display: none;
  }

}


// ========================================
// Another Unique
// ========================================
