// ========================================
// Hero
// ========================================

.hero {
  overflow: hidden;
  padding: 0 em(20);
  background-position: 50% 0;
  background-size: cover;
  color: #fff;

  @at-root .slideshow__slides--main & {
    width: 100%;
  }

  &__inner {
    margin: em(200) 0;

    @media (max-width: 799px) {
      font-size: 50%;
    }

    [class*='slideshow__pagination'] {
      margin-top: rem(20);
      text-align: left;

      span {
        height: rem(12);
        width: rem(12);
        border: 0;
        margin: 0 rem(12) 0 0;

        &.active {
          background: $m1;
        }

      }

    }

  }

  h1 {
    border-left: rem(5) solid $m5;
    padding-left: rem(5 + 10);
    color: inherit;
  }

  img {
    display: none;
  }

}


// ========================================
// Invitation
// ========================================

.bubbles--invitation {
  padding: em(60) em(20);

  @include breakpoint('medium') {
    padding-right: em(140);
    padding-left: em(140);
  }

  @include breakpoint('x-large') {
    padding: em(50) em(20) em(60);
  }

  li {
    border-bottom: 1px solid $m1;
    margin-bottom: em(30);
    padding-bottom: em(30);

    @include breakpoint('x-large') {
      border-right: 1px solid $m1;
      border-bottom: 0;
      margin: 0;
      padding: em(70) em(20) em(30);
      width: 33.33%;
    }

    &:nth-child(1) {
      color: $m6;
    }

    &:nth-child(2) {
      color: $m2;
    }

    &:nth-child(3) {
      border-right: 0;
      border-bottom: 0;
      color: $m4;
    }

  }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {

        figure {
          animation: 1s pulse 3;
          transform: scale(1.15);
          transition: transform .3s 3s;
        }

          img {
            animation: .3s 3s jump;
          }

      }

    }

      figure {
        position: relative;
        overflow: hidden;
        height: em(85);
        width: em(85);
        margin: 0 auto em(20);
        border-radius: 100%;
        background: currentColor;
        transition: transform .3s;

        @include breakpoint('large') {
          height: em(170);
          width: em(170);
        }

      }

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 35%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

      h2 {
        text-transform: uppercase;
        color: inherit;

        @media (max-width: 1299px) {
          font-size: em(18);
        }

      }

      p {
        margin-bottom: 0;
      }

}

@keyframes pulse {

  50% {
    box-shadow: 0 0 0 em(10) currentColor;
  }

}

@keyframes jump {

  50% {
    transform: translate(-50%, -60%);
  }

}


// ========================================
// Events
// ========================================

.events {
  padding: em(60) em(20);

  @include breakpoint('small') {
    padding-right: em(80);
    padding-left: em(80);
  }

  @include breakpoint('x-large') {
    padding-right: em(20);
    padding-left: em(20);
  }

  [class*='slideshow__pagination'] {

    @include breakpoint('x-large') {
      display: none;
    }

  }

  [class*='slideshow__slides'] {

    > * {

      @include breakpoint('x-large') {
        position: relative;
        opacity: 1;
        visibility: visible;
      }

    }

  }

}


// ========================================
// Story
// ========================================

.story {
  position: relative;
  overflow: hidden;
  clear: both;

  figure {

    @include breakpoint('large') {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 50%;
    }

  }

    img {

      @include breakpoint('large') {
        height: 100%;
        object-fit: cover;
        object-position: 50% 0;
      }

    }

  aside {
    padding: em(30) em(20) em(60);

    @include breakpoint('large') {
      padding: em(123 / 2) em(40) em(185 / 2);
      padding-left: calc(50% + #{em(80 / 2)});
    }

    @include breakpoint('huge') {
      padding: em(123) em(40) em(185);
      padding-left: calc(50% + #{em(80)});
    }

  }

    h2 {
      margin: 0;
      text-transform: uppercase;
      color: inherit;
    }

    p {
      max-width: rem(485);
      margin-bottom: em(64);

      @include breakpoint('large') {
        font-size: em(28);
        line-height: em(40, 28);
      }

    }

}


// ========================================
// Bubbles
// ========================================

.bubbles--happy {
  position: relative;
  padding: em(60) em(20);

  @include breakpoint('small') {
    padding-right: em(120);
    padding-left: em(120);
  }

  @include breakpoint('huge') {
    padding-right: em(20);
    padding-left: em(20);
  }

  &:before {
    position: absolute;
    top: 0;
    left: 50%;
    height: em(300);
    max-width: em(1400);
    width: 100%;
    border: 1px solid #979797;
    border-top: 0;
    content: '';
    background: #d8d8d8;
    transform: translate(-50%, 0);
  }

  [class*='slideshow__slides'] {

    > * {

      @include breakpoint('huge') {
        position: relative;
        opacity: 1;
        visibility: visible;
      }

    }

  }

    h2 {
      position: relative;
      margin-bottom: em(50);
    }

    article {

      @for $i from 1 through 4 {

        &:nth-of-type(#{$i}) a:hover:before {
          animation: 1s love-up-#{$i} forwards;
        }

      }

    }

      a {
        position: relative;
        display: block;
        text-decoration: none;
        color: inherit;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          content: '\E006';
          font-family: 'idfive';
          color: #fff;
          opacity: 0;
        }

        &:hover {

          figure {
            border-color: #fff;
          }

        }

      }

  [class*='slideshow__pagination'] {

    @include breakpoint('huge') {
      display: none;
    }

  }

}

@for $i from 1 through 4 {

  @keyframes love-up-#{$i} {

    85% {
      opacity: 1;
    }

    100% {
      text-shadow:
        random(10) * -.1em random(10) * -.1em 0 rgba(#fff, .15),
        random(10) * .1em random(10) * -.1em 0 rgba(#fff, .35);
      opacity: 0;
      transform:
        translate(em(20), em(-30))
        scale(1.5)
        rotate(15deg);
    }

  }

}
