/* ========================================
// Styles Manifest
// ===================================== */

/* ========================================
// Base Font Families
// ===================================== */

/* ========================================
// Content Font Properties
// ===================================== */

/* ========================================
// Base Heading Styles
// ===================================== */

/* heading-line-height
// heading-font-size
// These are used within base/typography
// ------------------------------------- */

/* h1 size / line */

/* h2 size / line */

/* h3 size / line */

/* h4 size / line */

/* h5 size / line */

/* h6 size / line */

/* mini size / line */

/* ========================================
// Color Configurations
// ===================================== */

/* ========================================
// Column Configurations
// ===================================== */

/* Max width of the site */

/* Number of columns within the grid */

/* Configure the space around each column */

/* Do you need to utilize the push feature of this grid system? */

/* Do you need to utilize the pull feature of this grid system? */

/* Do you need to utilize the flush feature of this grid system? */

/* ========================================
// Breakpoints
// ===================================== */

/* ========================================
// Silk Configuration
// ===================================== */

/* Silk Nav
// ------------------------------------- */

/* Define the total trigger height and width */

/* Define the height of each stripe */

/* Define the space between each stripe */

/* Define the color of every stripe */

/* Silk Table
// ------------------------------------- */

/* Silk Tabs
// ------------------------------------- */

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* ========================================
// Clear
// ===================================== */

.clear:after {
  display: table;
  clear: both;
  content: '';
}

/* ========================================
// Compartment
// ===================================== */

.compartment {
  max-width: 73.75rem;
  margin-right: auto;
  margin-left: auto;
}

/*

  utilities/cover

*/

/* Cover */

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* ========================================
// Font Face
// ===================================== */

/* ========================================
// List Reset
// ===================================== */

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* ========================================
// Media Query
// ===================================== */

/* ========================================
// Headings
// ===================================== */

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.mini {
  font-family: 'Lora';
  font-weight: normal;
}

/* 1:Heading One */

h1,
.h1 {
  font-size: 2.5em;
}

/* 2:Heading Two */

h2,
.h2 {
  font-size: 2em;
}

/* 3:Heading Three */

h3,
.h3 {
  font-size: 1.625em;
}

/* 4:Heading Four */

h4,
.h4 {
  font-size: 1.5em;
}

/* 5:Heading Five */

h5,
.h5 {
  font-size: 1.25em;
}

/* 6:Heading Six */

h6,
.h6 {
  font-size: 1em;
}

/* 7:Heading Mini */

.mini {
  font-size: 0.875em;
}

/* ========================================
// Lead In
// ===================================== */

.lead-in {
  font-size: 1em;
}

/* ========================================
// Anchors
// ===================================== */

a {
  text-decoration: none;
  -webkit-transition: background .3s,
    color .3s;
  transition:
    background .3s,
    color .3s;

}

a:active {}

a:hover {}

/* ========================================
// Blockquote / Cite
// ===================================== */

blockquote:before {
  margin-right: 0.3125em;
  content: '\201C';
}

blockquote:after {
  content: '\201D';
}

cite {
  font-size: 1em;
  font-style: normal;

}

cite:before {
  content: '';
}

/* ========================================
// Lists
// ===================================== */

ul,
ol {}

li {}

/* ========================================
// Paragraphs
// ===================================== */

p {
  margin: 0 0 1.875em 0;
}

/* ========================================
// Symbols
// ===================================== */

/* Silk Nav Symbols */

.symbol-home,
  .symbol-undo,
  .symbol-chevron-left,
  .symbol-chevron-right {
  height: 1em;
  width: 1em;
}

/* ========================================
// Silk Resets
// ===================================== */

[class^='silk'] ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

/* ========================================
// Silk Utilities
// ===================================== */

@media (min-width: 800px) {

  .hidden--large {
    display: none;
  }
}

/* ========================================
// Silk Toggle
// ===================================== */

/* ========================================
// Silk Content
// ===================================== */

/* ========================================
// Silk Accordion
// ===================================== */

.silk-accordion {}

/* Accordion item header container */

.silk-accordion__header h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.silk-accordion__header a {
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: inherit;
}

.silk-accordion__header a:after {
  display: inline-block;
  margin-left: 0.625em;
  content: '>';
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.silk-accordion__header a.is-active:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* Accordion item content container */

.silk-accordion__content {
    display: block;
    padding: 1.25rem;
  }

.silk-accordion__content.is-hidden {
  display: none;
}

.silk-accordion__content p:last-child {
  margin-bottom: 0;
}

/* ========================================
// Drawer Mixin
// ===================================== */

/* ========================================
// Drawer
// ===================================== */

.drawer {
  position: absolute;
  min-height: 100%;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  top: 4em;
  right: 0;
  z-index: 200;
  overflow: hidden;
  max-width: 31.25em;
  background: #fff;
  -webkit-transition: opacity .3s,
    visibility .3s;
  transition:
    opacity .3s,
    visibility .3s;

}

@media (min-width: 900px) {

  .drawer {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    position: static;
    overflow: inherit;
    max-width: 100%;
    background: none;
  }
}

[data-drawer-state="visible"] .drawer {
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* ========================================
// Drawer Trigger
// ===================================== */

.drawer__trigger {
  position: absolute;
  top: 50%;
  right: 0;
  height: 4em;
  width: 4em;
  border: 0;
  padding: 0;
  outline: 0;
  cursor: pointer;
  background: none;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

}

@media (min-width: 900px) {

  .drawer__trigger {
    display: none;
  }
}

.drawer__trigger:before,
  .drawer__trigger:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.0625em;
  width: 1.25em;
  content: '';
  background: #00A98D;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: background .4s,
      margin .4s,
      -webkit-box-shadow .4s,
      -webkit-transform .4s;
  transition: background .4s,
      margin .4s,
      -webkit-box-shadow .4s,
      -webkit-transform .4s;
  transition: background .4s,
      box-shadow .4s,
      margin .4s,
      transform .4s;
  transition:
      background .4s,
      box-shadow .4s,
      margin .4s,
      transform .4s,
      -webkit-box-shadow .4s,
      -webkit-transform .4s;
}

.drawer__trigger:before {
  margin-top: -0.375em;
}

.drawer__trigger:after {
  -webkit-box-shadow: 0 0.375em 0 0 #00A98D;
  box-shadow: 0 0.375em 0 0 #00A98D;
}

[data-drawer-state="visible"] .drawer__trigger:before {
    margin-top: 0;
    -webkit-transform:
      translate(-50%, -50%)
      rotate(-45deg);
    -ms-transform:
      translate(-50%, -50%)
      rotate(-45deg);
    transform:
      translate(-50%, -50%)
      rotate(-45deg);
  }

[data-drawer-state="visible"] .drawer__trigger:after {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transform:
      translate(-50%, -50%)
      rotate(45deg);
    -ms-transform:
      translate(-50%, -50%)
      rotate(45deg);
    transform:
      translate(-50%, -50%)
      rotate(45deg);
  }

/* ========================================
// Grid / Columns
// ===================================== */

.grid {
  display: table;
  clear: both;
  content: '';
}

[class^='col-'] {
    float: left;
    width: 100%;
  }

[class*='flush'] {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }

@media (min-width: 300px) {

    .col-mini-1 {
    width: 50%;
  }

    .col-mini-2 {
    width: 100%;
  }

  }

@media (min-width: 400px) {

    .col-tiny-1 {
    width: 50%;
  }

    .col-tiny-2 {
    width: 100%;
  }

  }

@media (min-width: 500px) {

    .col-small-1 {
    width: 8.33333%;
  }

    .col-small-2 {
    width: 16.66667%;
  }

    .col-small-3 {
    width: 25%;
  }

    .col-small-4 {
    width: 33.33333%;
  }

    .col-small-5 {
    width: 41.66667%;
  }

    .col-small-6 {
    width: 50%;
  }

    .col-small-7 {
    width: 58.33333%;
  }

    .col-small-8 {
    width: 66.66667%;
  }

    .col-small-9 {
    width: 75%;
  }

    .col-small-10 {
    width: 83.33333%;
  }

    .col-small-11 {
    width: 91.66667%;
  }

    .col-small-12 {
    width: 100%;
  }

  }

@media (min-width: 600px) {

    .col-medium-1 {
    width: 8.33333%;
  }

    .col-medium-2 {
    width: 16.66667%;
  }

    .col-medium-3 {
    width: 25%;
  }

    .col-medium-4 {
    width: 33.33333%;
  }

    .col-medium-5 {
    width: 41.66667%;
  }

    .col-medium-6 {
    width: 50%;
  }

    .col-medium-7 {
    width: 58.33333%;
  }

    .col-medium-8 {
    width: 66.66667%;
  }

    .col-medium-9 {
    width: 75%;
  }

    .col-medium-10 {
    width: 83.33333%;
  }

    .col-medium-11 {
    width: 91.66667%;
  }

    .col-medium-12 {
    width: 100%;
  }

  }

@media (min-width: 700px) {

    .col-big-1 {
    width: 8.33333%;
  }

    .col-big-2 {
    width: 16.66667%;
  }

    .col-big-3 {
    width: 25%;
  }

    .col-big-4 {
    width: 33.33333%;
  }

    .col-big-5 {
    width: 41.66667%;
  }

    .col-big-6 {
    width: 50%;
  }

    .col-big-7 {
    width: 58.33333%;
  }

    .col-big-8 {
    width: 66.66667%;
  }

    .col-big-9 {
    width: 75%;
  }

    .col-big-10 {
    width: 83.33333%;
  }

    .col-big-11 {
    width: 91.66667%;
  }

    .col-big-12 {
    width: 100%;
  }

  }

@media (min-width: 800px) {

    .col-large-1 {
    width: 8.33333%;
  }

    .col-large-2 {
    width: 16.66667%;
  }

    .col-large-3 {
    width: 25%;
  }

    .col-large-4 {
    width: 33.33333%;
  }

    .col-large-5 {
    width: 41.66667%;
  }

    .col-large-6 {
    width: 50%;
  }

    .col-large-7 {
    width: 58.33333%;
  }

    .col-large-8 {
    width: 66.66667%;
  }

    .col-large-9 {
    width: 75%;
  }

    .col-large-10 {
    width: 83.33333%;
  }

    .col-large-11 {
    width: 91.66667%;
  }

    .col-large-12 {
    width: 100%;
  }

  }

@media (min-width: 900px) {

    .col-huge-1 {
    width: 8.33333%;
  }

    .col-huge-2 {
    width: 16.66667%;
  }

    .col-huge-3 {
    width: 25%;
  }

    .col-huge-4 {
    width: 33.33333%;
  }

    .col-huge-5 {
    width: 41.66667%;
  }

    .col-huge-6 {
    width: 50%;
  }

    .col-huge-7 {
    width: 58.33333%;
  }

    .col-huge-8 {
    width: 66.66667%;
  }

    .col-huge-9 {
    width: 75%;
  }

    .col-huge-10 {
    width: 83.33333%;
  }

    .col-huge-11 {
    width: 91.66667%;
  }

    .col-huge-12 {
    width: 100%;
  }

  }

@media (min-width: 1000px) {

    .col-wooser-1 {
    width: 8.33333%;
  }

    .col-wooser-2 {
    width: 16.66667%;
  }

    .col-wooser-3 {
    width: 25%;
  }

    .col-wooser-4 {
    width: 33.33333%;
  }

    .col-wooser-5 {
    width: 41.66667%;
  }

    .col-wooser-6 {
    width: 50%;
  }

    .col-wooser-7 {
    width: 58.33333%;
  }

    .col-wooser-8 {
    width: 66.66667%;
  }

    .col-wooser-9 {
    width: 75%;
  }

    .col-wooser-10 {
    width: 83.33333%;
  }

    .col-wooser-11 {
    width: 91.66667%;
  }

    .col-wooser-12 {
    width: 100%;
  }

  }

@media (min-width: 1100px) {

    .col-yatterman-1 {
    width: 8.33333%;
  }

    .col-yatterman-2 {
    width: 16.66667%;
  }

    .col-yatterman-3 {
    width: 25%;
  }

    .col-yatterman-4 {
    width: 33.33333%;
  }

    .col-yatterman-5 {
    width: 41.66667%;
  }

    .col-yatterman-6 {
    width: 50%;
  }

    .col-yatterman-7 {
    width: 58.33333%;
  }

    .col-yatterman-8 {
    width: 66.66667%;
  }

    .col-yatterman-9 {
    width: 75%;
  }

    .col-yatterman-10 {
    width: 83.33333%;
  }

    .col-yatterman-11 {
    width: 91.66667%;
  }

    .col-yatterman-12 {
    width: 100%;
  }

  }

@media (min-width: 1200px) {

    .col-gamagori-1 {
    width: 8.33333%;
  }

    .col-gamagori-2 {
    width: 16.66667%;
  }

    .col-gamagori-3 {
    width: 25%;
  }

    .col-gamagori-4 {
    width: 33.33333%;
  }

    .col-gamagori-5 {
    width: 41.66667%;
  }

    .col-gamagori-6 {
    width: 50%;
  }

    .col-gamagori-7 {
    width: 58.33333%;
  }

    .col-gamagori-8 {
    width: 66.66667%;
  }

    .col-gamagori-9 {
    width: 75%;
  }

    .col-gamagori-10 {
    width: 83.33333%;
  }

    .col-gamagori-11 {
    width: 91.66667%;
  }

    .col-gamagori-12 {
    width: 100%;
  }

  }

@media (min-width: 1300px) {

    .col-aldnoah-1 {
    width: 8.33333%;
  }

    .col-aldnoah-2 {
    width: 16.66667%;
  }

    .col-aldnoah-3 {
    width: 25%;
  }

    .col-aldnoah-4 {
    width: 33.33333%;
  }

    .col-aldnoah-5 {
    width: 41.66667%;
  }

    .col-aldnoah-6 {
    width: 50%;
  }

    .col-aldnoah-7 {
    width: 58.33333%;
  }

    .col-aldnoah-8 {
    width: 66.66667%;
  }

    .col-aldnoah-9 {
    width: 75%;
  }

    .col-aldnoah-10 {
    width: 83.33333%;
  }

    .col-aldnoah-11 {
    width: 91.66667%;
  }

    .col-aldnoah-12 {
    width: 100%;
  }

  }

@media (min-width: 1400px) {

    .col-penguindrum-1 {
    width: 8.33333%;
  }

    .col-penguindrum-2 {
    width: 16.66667%;
  }

    .col-penguindrum-3 {
    width: 25%;
  }

    .col-penguindrum-4 {
    width: 33.33333%;
  }

    .col-penguindrum-5 {
    width: 41.66667%;
  }

    .col-penguindrum-6 {
    width: 50%;
  }

    .col-penguindrum-7 {
    width: 58.33333%;
  }

    .col-penguindrum-8 {
    width: 66.66667%;
  }

    .col-penguindrum-9 {
    width: 75%;
  }

    .col-penguindrum-10 {
    width: 83.33333%;
  }

    .col-penguindrum-11 {
    width: 91.66667%;
  }

    .col-penguindrum-12 {
    width: 100%;
  }

  }

/* ========================================
// Silk Nav
// ===================================== */

.silk-nav > ul > li > ul {
  margin-top: 1.8125em;
}

@media (min-width: 900px) {

  .silk-nav > ul > li > ul {
    margin-top: 0;
  }
}

.silk-nav ul ul {
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 200;
  height: 100%;
  width: 100%;
  background: #fff;
  opacity: 0;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: opacity .4s,
        -webkit-transform .4s;
  transition: opacity .4s,
        -webkit-transform .4s;
  transition: opacity .4s,
        transform .4s;
  transition:
        opacity .4s,
        transform .4s,
        -webkit-transform .4s;
}

@media (min-width: 900px) {

  .silk-nav ul ul {
    top: 100%;
    left: 0;
    display: none;
    height: auto;
    width: 200%;
    opacity: 1;
  }
}

.silk-nav ul ul.silk-menu--active {
  opacity: 1;
  -webkit-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: opacity .4s,
          -webkit-transform .4s cubic-bezier(.175, .885, .24, 1.11);
  transition: opacity .4s,
          -webkit-transform .4s cubic-bezier(.175, .885, .24, 1.11);
  transition: opacity .4s,
          transform .4s cubic-bezier(.175, .885, .24, 1.11);
  transition:
          opacity .4s,
          transform .4s cubic-bezier(.175, .885, .24, 1.11),
          -webkit-transform .4s cubic-bezier(.175, .885, .24, 1.11);
}

@media (min-width: 900px) {

  .silk-nav ul ul.silk-menu--active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

/* ========================================
// Silk Nav Controls
// ===================================== */

.silk-nav__controls {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;

}

@media (min-width: 900px) {

  .silk-nav__controls {
    display: none;
  }
}

.trigger--revert,
  .trigger--reverse {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s,
      visibility .3s;
    transition:
      opacity .3s,
      visibility .3s;

  }

.silk-menu--active .trigger--revert, .silk-menu--active .trigger--reverse {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 900px) {

  .trigger--advance {
    display: none;
  }
}

/* ========================================
// Swift Slide
// ===================================== */

.swift-slide {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

}

.swift-slide li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s,
      visibility .3s,
      -webkit-transform .3s;
  transition: opacity .3s,
      visibility .3s,
      -webkit-transform .3s;
  transition: opacity .3s,
      visibility .3s,
      transform .3s;
  transition:
      opacity .3s,
      visibility .3s,
      transform .3s,
      -webkit-transform .3s;
}

.swift-slide li.active {
  position: relative;
  pointer-events: auto;
  opacity: 1;
  visibility: visible;
}

/* ========================================
// Swift Controls
// ===================================== */

.controls {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.controls button {
  border: 0;
  outline: 0;
  background: none;
}

/* Previous Button */

.controls button:first-child:before {
  content: '<';
}

/* Next Button */

.controls button:last-child:before {
  content: '>';
}

.controls button:hover {}

/* ========================================
// Swift Pager
// ===================================== */

.pager {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.pager span {
  display: inline-block;
  cursor: pointer;
}

.pager span:hover {}

.pager span.active {}

/* ========================================
// Silk Style Tile
// ===================================== */

.colors {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

}

.colors li {
  display: block;
}

/* ========================================
// Silk Table
// ===================================== */

.silk-table {
  display: none;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 1em;

}

@media (min-width: 800px) {

  .silk-table {
    display: table;
  }
}

.silk-table th,
  .silk-table td {
  padding: 0.625rem 1.25rem;
}

/* Header table cells */

.silk-table th {
  font-size: 1.5em;
  font-weight: normal;
  text-align: left;
  background: rgba(30, 0, 0, .075);
}

/* Regular table cells */

.silk-table td {}

/* Every td in every odd row */

.silk-table tr:nth-of-type(even) td {
    background: rgba(30, 0, 0, .025);
  }

/* Collapsed table */

.silk-table--collapsed {
    margin-bottom: 1.25em;
    padding: 0 0 0.625em;
    background: rgba(30, 0, 0, .025);

  }

@media (min-width: 800px) {

  .silk-table--collapsed {
    display: none;
  }
}

.silk-table--collapsed h4 {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.625rem 1.25rem;
}

.silk-table--collapsed div {
  padding: 0.625rem 1.25rem;
}

/* ========================================
// Silk Tabs
// ===================================== */

.silk-tabs {}

.silk-tabs__nav {
    display: none;

  }

.silk-tabs__nav h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.silk-tabs__nav a {
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: inherit;
}

.silk-tabs__nav a:after {
  display: inline-block;
  margin-left: 0.625em;
  content: '>';
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.silk-tabs__nav a.is-active:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (min-width: 900px) {

  .silk-tabs__nav {
    display: block;
  }
}

.silk-tabs__nav li {
  display: inline-block;
  vertical-align: top;
}

.silk-tabs__nav a {
  font-size: 1.5em;
}

.silk-tabs__nav a:after {
  display: none;
}

.silk-tabs__header h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.silk-tabs__header a {
  display: block;
  padding: 0.625rem 1.25rem;
  text-decoration: none;
  color: inherit;
}

.silk-tabs__header a:after {
  display: inline-block;
  margin-left: 0.625em;
  content: '>';
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.silk-tabs__header a.is-active:after {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

@media (min-width: 900px) {

  .silk-tabs__header {
    display: none;
  }
}

.silk-tabs__content {
    display: block;
    padding: 1.25rem;

  }

.silk-tabs__content.is-hidden {
  display: none;
}

.silk-tabs__content p:last-child {
  margin-bottom: 0;
}

.silk-tabs__content.is-hidden-accordion {
  display: none;
}

@media (min-width: 900px) {

  .silk-tabs__content.is-hidden-accordion {
    display: inherit;
  }
}

/* ========================================
// Root Layer
// ===================================== */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: 'Lora';
  background: none;
  color: #565452;
}

body {
    font-size: 1em;
    line-height: 1.5;
  }

/* ========================================
// Main Column
// ===================================== */

main {}

.site__main {}

/* ========================================
// Unique Columns
// ===================================== */

/* ========================================
// Site Header
// ===================================== */

.site__header {
  position: relative;
}

.site__hat {}

.site__scarf {}

/* ========================================
// Site Footer
// ===================================== */

.site__footer {}

.site__lace {}

.site__sole {}

/* ========================================
// Shared Navigation
// ===================================== */

nav ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

nav a {
  display: block;
  text-decoration: none;
}

/* ========================================
// Main Navigation
// ===================================== */

@media (min-width: 900px) {

  .nav-main > ul > li {
    position: relative;
    display: inline-block;
  }
}

@media (min-width: 900px) {

  .nav-main > ul > li:hover > ul {
    display: block;
  }
}

.nav-main > ul > li > a {}

/* ========================================
// Unique Navigation
// ===================================== */

.nav-example ul {}

.nav-example li {}

.nav-example a:hover {}

/* ========================================
// Address
// ===================================== */

.vcard {}

.org {
    font-size: 1.25em;
  }

.adr {}

/* ========================================
// Site Address
// ===================================== */

.vcard a {
  display: block;
}

/* ========================================
// Callout
// ===================================== */

/* Plain Callout
// ------------------------------------- */

[class^='callout'] {
  margin-bottom: 1.25em;
  padding: 1.25em;
}

/* Additional Callouts
// ------------------------------------- */

.callout--color {}

/* ========================================
// Buttons
// ===================================== */

[class*='button'] {
  display: inline-block;
  border: 0;
  margin: 0 0.625em 0.625em 0;
  padding: 0.625em;
  cursor: pointer;
  text-decoration: none;
  outline: 0;
  -webkit-transition: background .2s,
    color .2s,
    -webkit-box-shadow .2s,
    -webkit-transform .2s;
  transition: background .2s,
    color .2s,
    -webkit-box-shadow .2s,
    -webkit-transform .2s;
  transition: background .2s,
    box-shadow .2s,
    color .2s,
    transform .2s;
  transition:
    background .2s,
    box-shadow .2s,
    color .2s,
    transform .2s,
    -webkit-box-shadow .2s,
    -webkit-transform .2s;
}

/* Additional Buttons
// ------------------------------------- */

.button--color:hover {}

/* ========================================
// Site Logo/Link
// ===================================== */

/* If the site logo is text based */

.site__link {
  display: block;
  text-decoration: none;
}

/* If the site logo is image based */

/* Set the max-width to the logo's size */

/* overflow: hidden and white-space: nowrap prevent line breaks */

.site__logo {
  display: block;
  overflow: hidden;
  max-width: 12.5em;
  width: 100%;
  white-space: nowrap;
  background: url('../images/logo.svg') no-repeat 0 50%;
  background-size: contain;
  color: transparent;

}

.site__logo:hover {
  color: transparent;
}

/* ========================================
// Forms
// ===================================== */

/* Container
// ------------------------------------- */

form {}

fieldset {
    border: 0;
    padding: 0;
  }

/* Input
// ------------------------------------- */

input:disabled {}

input:checked {}

input[type='text'] {}

input[type='radio'] {}

input[type='checkbox'] {}

input[type='range'] {}

/* Select / Option
// ------------------------------------- */

select {}

/* ========================================
// Unique Form Elements
// ===================================== */

.search {}

/* ========================================
// Hero
// ===================================== */

.hero {
  background-position: 50% 50%;
  background-size: cover;

}

.hero--empty {
  height: 30vw;
  max-height: 31.25em;
  min-height: 18.75em;
}

.hero img {
  display: none;
}

/* ========================================
// Media
// ===================================== */

/* Figure
// ------------------------------------- */

figure {
  margin: 0;

}

figure img {
  display: block;
  width: 100%;
}

figcaption {}

/* Image
// ------------------------------------- */

img.full-width {
  display: block;
  width: 100%;
}

/* Iframe
// ------------------------------------- */

iframe {}

/* SVG
// ------------------------------------- */

svg {}

/* Video
// ------------------------------------- */

video {}

/* ========================================
// Instagram
// ===================================== */

.instagram-feed {}

.instagram-item {
    position: relative;
    display: block;
  }

.instagram-item__image {
      display: block;
      max-width: 100%;
    }

.instagram-item__details {}

.instagram-item__caption {}

/* ========================================
// Twitter
// ===================================== */

.twitter-feed {}

.twitter-item {}

/* ========================================
// Silk Header
// ===================================== */

.site__header .compartment {
  padding: 1.25em 1.875em;
}

@media (min-width: 900px) {

  .site__header .compartment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/* ========================================
// Silk Logo
// ===================================== */

.site__logo {
  height: 1.5em;
  max-width: 1.5em;
}

/* ========================================
// Silk Drawer Trigger
// ===================================== */

.drawer__trigger {
  right: 0.625em;
}

/* ========================================
// Silk Nav
// ===================================== */

@media (min-width: 900px) {

  .nav-main {
    padding-left: 0.625em;
    text-align: right;
  }
}

.nav-main > ul > li:last-child > a {
  padding-right: 0;
}

.nav-main > ul > li > ul {
  padding: 0.625em 0;
  text-align: left;
}

.nav-main a {
  color: #00A98D;
}

@media (min-width: 900px) {

  .nav-main a {
    padding: 0 0.625em;
  }
}

/* ========================================
// Silk Content
// ===================================== */

.compartment > section {
  padding: 3.75em 1.875em;
}

.compartment > section:nth-of-type(odd) {
  background: #00A98D;
  color: #fff;
}

.compartment > section:nth-of-type(odd) a {
  color: inherit;
}

.compartment h2 {
  margin-top: 0;
}

a {
  color: #00A98D;
}

/* ========================================
// Silk Accordion / Tabs
// ===================================== */

.silk-accordion__header a, .silk-tabs__header a, .silk-tabs__nav a {
  border-right: 1px solid #00A98D;
  border-bottom: 1px solid #00A98D;
  background: rgba(255, 255, 255, .15);
}

.silk-accordion__header a:hover, .silk-tabs__header a:hover, .silk-tabs__nav a:hover {
  background: rgba(255, 255, 255, .25);
}

/* ========================================
// Silk Collage
// ===================================== */

.silk-collage {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  position: relative;
  border-top: 1px solid;
  border-left: 1px solid;
  height: 25em;
  counter-reset: collage;

}

.silk-collage li {
  position: absolute;
  border-right: 1px solid;
  border-bottom: 1px solid;
  text-align: center;
  counter-increment: collage;
}

.silk-collage li:nth-child(1) {
  top: 0%;
  left: 0%;
  height: 50%;
  width: 33.33333333333333%;
}

.silk-collage li:nth-child(2) {
  top: 50%;
  left: 0%;
  height: 50%;
  width: 33.33333333333333%;
}

.silk-collage li:nth-child(3) {
  top: 0%;
  left: 33.33333333333333%;
  height: 100%;
  width: 33.33333333333333%;
}

.silk-collage li:nth-child(4) {
  top: 0%;
  left: 66.66666666666666%;
  height: 16.666666666666664%;
  width: 33.33333333333333%;
}

.silk-collage li:nth-child(5) {
  top: 16.666666666666664%;
  left: 66.66666666666666%;
  height: 66.66666666666666%;
  width: 33.33333333333333%;
}

.silk-collage li:nth-child(6) {
  top: 83.33333333333334%;
  left: 66.66666666666666%;
  height: 16.666666666666664%;
  width: 33.33333333333333%;
}

.silk-collage li:before {
  font-size: 1.5em;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  content: counter(collage);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

/* ========================================
// Swift Slide
// ===================================== */

.swift-slide {
  counter-reset: swift;
  text-align: center;

}

.swift-slide li {
  counter-increment: swift;
}

.swift-slide li:before {
  font-size: 2em;
  content: counter(swift);
}

.swift-slide li:after {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 12.5em;
  width: 12.5em;
  border: 1px solid #fff;
  content: '';
  pointer-events: none;
  background: rgba(255, 255, 255, .75);
  border-radius: 100%;
  -webkit-transform:
        translate(-50%, -50%)
        scale(0);
  -ms-transform:
        translate(-50%, -50%)
        scale(0);
  transform:
        translate(-50%, -50%)
        scale(0);
}

.swift-slide li.active:after {
  -webkit-animation: burst .25s;
  animation: burst .25s;
}

@-webkit-keyframes burst {

  100% {
    opacity: 0;
    -webkit-transform:
      translate(-50%, -50%)
      scale(1);
    transform:
      translate(-50%, -50%)
      scale(1);
  }

}

@keyframes burst {

  100% {
    opacity: 0;
    -webkit-transform:
      translate(-50%, -50%)
      scale(1);
    transform:
      translate(-50%, -50%)
      scale(1);
  }

}

/* ========================================
// Silk Footer
// ===================================== */

.site__footer .compartment {
  padding: 1.25em 1.875em;
}

@media print {

  @import 'print/print';

}
