@font-face {
  font-family: "idfive";
  src: url("../fonts/idfive.eot");
  src: url("../fonts/idfive.eot?#iefix") format("eot"), url("../fonts/idfive.woff") format("woff"), url("../fonts/idfive.ttf") format("truetype"), url("../fonts/idfive.svg#idfive") format("svg");
}
.icon:before {
  font-family: "idfive";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
  text-decoration: none;
  text-transform: none;
}

.icon-caret-left:before {
  content: "\E001";
}

.icon-chevron-down:before {
  content: "\E002";
}

.icon-chevron-left:before {
  content: "\E003";
}

.icon-chevron-right:before {
  content: "\E004";
}

.icon-facebook:before {
  content: "\E005";
}

.icon-flickr:before {
  content: "\E006";
}

.icon-heart:before {
  content: "\E007";
}

.icon-home:before {
  content: "\E008";
}

.icon-magnifying-glass:before {
  content: "\E009";
}

.icon-mail:before {
  content: "\E00A";
}

.icon-plus:before {
  content: "\E00B";
}

.icon-print:before {
  content: "\E00C";
}

.icon-search:before {
  content: "\E00D";
}

.icon-twitter:before {
  content: "\E00E";
}

.icon-undo:before {
  content: "\E00F";
}

.icon-youtube:before {
  content: "\E010";
}

@media screen {
  .id5debug:before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    display: block;
    padding: 1em;
    content: "Default";
    background: rgba(238, 255, 255, 0.85);
  }
}
@media screen and (min-width: 400px) {
  .id5debug:before {
    content: "tiny";
  }
}
@media screen and (min-width: 500px) {
  .id5debug:before {
    content: "small";
  }
}
@media screen and (min-width: 600px) {
  .id5debug:before {
    content: "medium";
  }
}
@media screen and (min-width: 700px) {
  .id5debug:before {
    content: "big";
  }
}
@media screen and (min-width: 800px) {
  .id5debug:before {
    content: "large";
  }
}
@media screen and (min-width: 900px) {
  .id5debug:before {
    content: "huge";
  }
}
@media screen and (min-width: 1000px) {
  .id5debug:before {
    content: "titan";
  }
}
@media screen and (min-width: 1100px) {
  .id5debug:before {
    content: "nation";
  }
}
@media screen and (min-width: 1200px) {
  .id5debug:before {
    content: "world";
  }
}

@media screen {
  .compartment {
    margin: 0 auto;
    max-width: 1180px;
    max-width: 73.75rem;
  }
  .compartment:after {
    clear: both;
    content: '';
    display: table;
  }

  .list-reset {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  .is-hidden {
    position: absolute;
    color: transparent;
    visibility: hidden;
  }

  .is-visible {
    position: inherit;
    color: inherit;
    visibility: inherit;
  }

  /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
  /**
   * 1. Set default font family to sans-serif.
   * 2. Prevent iOS and IE text size adjust after device orientation change,
   *    without disabling user zoom.
   */
  html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }

  /**
   * Remove default margin.
   */
  body {
    margin: 0;
  }

  /* HTML5 display definitions
     ========================================================================== */
  /**
   * Correct `block` display not defined for any HTML5 element in IE 8/9.
   * Correct `block` display not defined for `details` or `summary` in IE 10/11
   * and Firefox.
   * Correct `block` display not defined for `main` in IE 11.
   */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  main,
  menu,
  nav,
  section,
  summary {
    display: block;
  }

  /**
   * 1. Correct `inline-block` display not defined in IE 8/9.
   * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
   */
  audio,
  canvas,
  progress,
  video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
  }

  /**
   * Prevent modern browsers from displaying `audio` without controls.
   * Remove excess height in iOS 5 devices.
   */
  audio:not([controls]) {
    display: none;
    height: 0;
  }

  /**
   * Address `[hidden]` styling not present in IE 8/9/10.
   * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
   */
  [hidden],
  template {
    display: none;
  }

  /* Links
     ========================================================================== */
  /**
   * Remove the gray background color from active links in IE 10.
   */
  a {
    background-color: transparent;
  }

  /**
   * Improve readability of focused elements when they are also in an
   * active/hover state.
   */
  a:active,
  a:hover {
    outline: 0;
  }

  /* Text-level semantics
     ========================================================================== */
  /**
   * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
   */
  abbr[title] {
    border-bottom: 1px dotted;
  }

  /**
   * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
   */
  b,
  strong {
    font-weight: bold;
  }

  /**
   * Address styling not present in Safari and Chrome.
   */
  dfn {
    font-style: italic;
  }

  /**
   * Address variable `h1` font-size and margin within `section` and `article`
   * contexts in Firefox 4+, Safari, and Chrome.
   */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /**
   * Address styling not present in IE 8/9.
   */
  mark {
    background: #ff0;
    color: #000;
  }

  /**
   * Address inconsistent and variable font size in all browsers.
   */
  small {
    font-size: 80%;
  }

  /**
   * Prevent `sub` and `sup` affecting `line-height` in all browsers.
   */
  sub,
  sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }

  /* Embedded content
     ========================================================================== */
  /**
   * Remove border when inside `a` element in IE 8/9/10.
   */
  img {
    border: 0;
  }

  /**
   * Correct overflow not hidden in IE 9/10/11.
   */
  svg:not(:root) {
    overflow: hidden;
  }

  /* Grouping content
     ========================================================================== */
  /**
   * Address margin not present in IE 8/9 and Safari.
   */
  figure {
    margin: 1em 40px;
  }

  /**
   * Address differences between Firefox and other browsers.
   */
  hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }

  /**
   * Contain overflow in all browsers.
   */
  pre {
    overflow: auto;
  }

  /**
   * Address odd `em`-unit font size rendering in all browsers.
   */
  code,
  kbd,
  pre,
  samp {
    font-family: monospace, monospace;
    font-size: 1em;
  }

  /* Forms
     ========================================================================== */
  /**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
  /**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
  button,
  input,
  optgroup,
  select,
  textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
  }

  /**
   * Address `overflow` set to `hidden` in IE 8/9/10/11.
   */
  button {
    overflow: visible;
  }

  /**
   * Address inconsistent `text-transform` inheritance for `button` and `select`.
   * All other form control elements do not inherit `text-transform` values.
   * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
   * Correct `select` style inheritance in Firefox.
   */
  button,
  select {
    text-transform: none;
  }

  /**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
  button,
  html input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
  }

  /**
   * Re-set default cursor for disabled elements.
   */
  button[disabled],
  html input[disabled] {
    cursor: default;
  }

  /**
   * Remove inner padding and border in Firefox 4+.
   */
  button::-moz-focus-inner,
  input::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /**
   * Address Firefox 4+ setting `line-height` on `input` using `!important` in
   * the UA stylesheet.
   */
  input {
    line-height: normal;
  }

  /**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   */
  input[type="checkbox"],
  input[type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
  }

  /**
   * Fix the cursor style for Chrome's increment/decrement buttons. For certain
   * `font-size` values of the `input`, it causes the cursor style of the
   * decrement button to change from `default` to `text`.
   */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    height: auto;
  }

  /**
   * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
   * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
   */
  input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    /* 2 */
  }

  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  /**
   * Define consistent border, margin, and padding.
   */
  fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
  }

  /**
   * 1. Correct `color` not being inherited in IE 8/9/10/11.
   * 2. Remove padding so people aren't caught out if they zero out fieldsets.
   */
  legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
  }

  /**
   * Remove default vertical scrollbar in IE 8/9/10/11.
   */
  textarea {
    overflow: auto;
  }

  /**
   * Don't inherit the `font-weight` (applied by a rule above).
   * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
   */
  optgroup {
    font-weight: bold;
  }

  /* Tables
     ========================================================================== */
  /**
   * Remove most spacing between table cells.
   */
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  td,
  th {
    padding: 0;
  }
}
@media screen and (min-width: 400px) {
  .hidden--tiny {
    display: none;
  }
}
@media screen and (min-width: 500px) {
  .hidden--small {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .hidden--medium {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  .hidden--big {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .hidden--large {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .hidden--huge {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .hidden--titan {
    display: none;
  }
}
@media screen and (min-width: 1100px) {
  .hidden--nation {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .hidden--world {
    display: none;
  }
}

@media screen {
  [class*='shown'] {
    display: none;
  }
}
@media screen and (min-width: 400px) {
  .shown--tiny {
    display: block;
  }
}
@media screen and (min-width: 500px) {
  .shown--small {
    display: block;
  }
}
@media screen and (min-width: 600px) {
  .shown--medium {
    display: block;
  }
}
@media screen and (min-width: 700px) {
  .shown--big {
    display: block;
  }
}
@media screen and (min-width: 800px) {
  .shown--large {
    display: block;
  }
}
@media screen and (min-width: 900px) {
  .shown--huge {
    display: block;
  }
}
@media screen and (min-width: 1000px) {
  .shown--titan {
    display: block;
  }
}
@media screen and (min-width: 1100px) {
  .shown--nation {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .shown--world {
    display: block;
  }
}

@media screen {
  h1,
  .h1, h2,
  .h2, h3,
  .h3, h4,
  .h4, h5,
  .h5, h6,
  .h6, cite, .silk-table th, .silk-tabs__nav a, .lead-in {
    font-weight: normal;
    color: null;
  }

  h1,
  .h1 {
    font-size: 2.5em;
    line-height: 1.05;
  }

  h2,
  .h2 {
    font-size: 2.125em;
    line-height: 1.05882353;
  }

  h3,
  .h3 {
    font-size: 1.875em;
    line-height: 1.06666667;
  }

  h4,
  .h4 {
    font-size: 1.5em;
    line-height: 1.08333333;
  }

  h5,
  .h5 {
    font-size: 1.25em;
    line-height: 1.1;
  }

  h6,
  .h6 {
    font-size: 1em;
    line-height: 1.125;
  }

  .mini {
    font-size: 0.875em;
    line-height: 1.14285714;
  }

  blockquote:before {
    margin-right: 0.3125em;
    content: '\201C';
  }
  blockquote:after {
    content: '\201D';
  }

  cite {
    font-size: 1em;
    line-height: 1.125;
    font-style: normal;
  }
  cite:before {
    content: '';
  }

  p {
    margin: 0 0 1.875em 0;
  }

  .silk-accordion__content {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .silk-accordion__content.is-hidden {
    opacity: 0;
  }

  .silk-accordion__header a, .silk-tabs__header a {
    position: relative;
    text-decoration: none;
    color: inherit;
  }
  .silk-accordion__header a:before, .silk-tabs__header a:before {
    display: inline-block;
    content: '>';
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
  }
  .silk-accordion__header a.is-active:before, .silk-tabs__header a.is-active:before {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  [class^='silk'] ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  .drawer {
    position: absolute;
    min-height: 100%;
    width: 100%;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
    -webkit-transform: translate(-20%, 0);
    -ms-transform: translate(-20%, 0);
    transform: translate(-20%, 0);
    top: 3.75em;
    z-index: 200;
    overflow: hidden;
    max-width: 31.25em;
    background: #fff;
    -webkit-transition: opacity .4s, visibility .4s, -webkit-transform .4s;
    transition: opacity .4s, visibility .4s, transform .4s;
  }
}
@media screen and (min-width: 900px) {
  .drawer {
    position: inherit;
    top: auto;
    max-width: 100%;
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
  }
}
@media screen {
  [data-drawer-state="visible"] .drawer {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  .drawer__trigger {
    position: relative;
    height: 3.125em;
    width: 3.125em;
    border: 0;
    padding: 0;
    background: none;
    outline: 0;
  }
}
@media screen and (min-width: 900px) {
  .drawer__trigger {
    display: none;
  }
}
@media screen {
  .drawer__trigger:before, .drawer__trigger:after {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 0.125em;
    width: 33.33333333%;
    content: '';
    background: #000;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: background .4s, -webkit-box-shadow .4s, margin .4s, -webkit-transform .4s;
    transition: background .4s, box-shadow .4s, margin .4s, transform .4s;
  }
  .drawer__trigger:before {
    margin-top: -0.25em;
  }
  .drawer__trigger:after {
    -webkit-box-shadow: 0 0.25em 0 0 #000;
    box-shadow: 0 0.25em 0 0 #000;
  }
  [data-drawer-state="visible"] .drawer__trigger:before {
    margin-top: 0;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  [data-drawer-state="visible"] .drawer__trigger:after {
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    -ms-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .grid {
    margin-right: -1%;
    margin-left: -1%;
  }
  .grid:after {
    clear: both;
    content: '';
    display: table;
  }

  [class^='col'] {
    float: left;
    margin: 0 1% 2%;
    width: 98%;
  }
}
@media screen and (min-width: 400px) {
  .col-tiny-1 {
    width: 6.33333333%;
  }

  .col-tiny-2 {
    width: 14.66666667%;
  }

  .col-tiny-3 {
    width: 23%;
  }

  .col-tiny-4 {
    width: 31.33333333%;
  }

  .col-tiny-5 {
    width: 39.66666667%;
  }

  .col-tiny-6 {
    width: 48%;
  }

  .col-tiny-7 {
    width: 56.33333333%;
  }

  .col-tiny-8 {
    width: 64.66666667%;
  }

  .col-tiny-9 {
    width: 73%;
  }

  .col-tiny-10 {
    width: 81.33333333%;
  }

  .col-tiny-11 {
    width: 89.66666667%;
  }

  .col-tiny-push-1 {
    margin-left: 9.33333333%;
  }

  .col-tiny-push-2 {
    margin-left: 17.66666667%;
  }

  .col-tiny-push-3 {
    margin-left: 26%;
  }

  .col-tiny-push-4 {
    margin-left: 34.33333333%;
  }

  .col-tiny-push-5 {
    margin-left: 42.66666667%;
  }

  .col-tiny-push-6 {
    margin-left: 51%;
  }

  .col-tiny-push-7 {
    margin-left: 59.33333333%;
  }

  .col-tiny-push-8 {
    margin-left: 67.66666667%;
  }

  .col-tiny-push-9 {
    margin-left: 76%;
  }

  .col-tiny-push-10 {
    margin-left: 84.33333333%;
  }

  .col-tiny-push-11 {
    margin-left: 92.66666667%;
  }

  .col-tiny-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-tiny-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-tiny-pull-3 {
    margin-left: -24%;
  }

  .col-tiny-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-tiny-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-tiny-pull-6 {
    margin-left: -49%;
  }

  .col-tiny-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-tiny-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-tiny-pull-9 {
    margin-left: -74%;
  }

  .col-tiny-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-tiny-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 500px) {
  .col-small-1 {
    width: 6.33333333%;
  }

  .col-small-2 {
    width: 14.66666667%;
  }

  .col-small-3 {
    width: 23%;
  }

  .col-small-4 {
    width: 31.33333333%;
  }

  .col-small-5 {
    width: 39.66666667%;
  }

  .col-small-6 {
    width: 48%;
  }

  .col-small-7 {
    width: 56.33333333%;
  }

  .col-small-8 {
    width: 64.66666667%;
  }

  .col-small-9 {
    width: 73%;
  }

  .col-small-10 {
    width: 81.33333333%;
  }

  .col-small-11 {
    width: 89.66666667%;
  }

  .col-small-push-1 {
    margin-left: 9.33333333%;
  }

  .col-small-push-2 {
    margin-left: 17.66666667%;
  }

  .col-small-push-3 {
    margin-left: 26%;
  }

  .col-small-push-4 {
    margin-left: 34.33333333%;
  }

  .col-small-push-5 {
    margin-left: 42.66666667%;
  }

  .col-small-push-6 {
    margin-left: 51%;
  }

  .col-small-push-7 {
    margin-left: 59.33333333%;
  }

  .col-small-push-8 {
    margin-left: 67.66666667%;
  }

  .col-small-push-9 {
    margin-left: 76%;
  }

  .col-small-push-10 {
    margin-left: 84.33333333%;
  }

  .col-small-push-11 {
    margin-left: 92.66666667%;
  }

  .col-small-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-small-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-small-pull-3 {
    margin-left: -24%;
  }

  .col-small-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-small-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-small-pull-6 {
    margin-left: -49%;
  }

  .col-small-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-small-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-small-pull-9 {
    margin-left: -74%;
  }

  .col-small-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-small-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 600px) {
  .col-medium-1 {
    width: 6.33333333%;
  }

  .col-medium-2 {
    width: 14.66666667%;
  }

  .col-medium-3 {
    width: 23%;
  }

  .col-medium-4 {
    width: 31.33333333%;
  }

  .col-medium-5 {
    width: 39.66666667%;
  }

  .col-medium-6 {
    width: 48%;
  }

  .col-medium-7 {
    width: 56.33333333%;
  }

  .col-medium-8 {
    width: 64.66666667%;
  }

  .col-medium-9 {
    width: 73%;
  }

  .col-medium-10 {
    width: 81.33333333%;
  }

  .col-medium-11 {
    width: 89.66666667%;
  }

  .col-medium-push-1 {
    margin-left: 9.33333333%;
  }

  .col-medium-push-2 {
    margin-left: 17.66666667%;
  }

  .col-medium-push-3 {
    margin-left: 26%;
  }

  .col-medium-push-4 {
    margin-left: 34.33333333%;
  }

  .col-medium-push-5 {
    margin-left: 42.66666667%;
  }

  .col-medium-push-6 {
    margin-left: 51%;
  }

  .col-medium-push-7 {
    margin-left: 59.33333333%;
  }

  .col-medium-push-8 {
    margin-left: 67.66666667%;
  }

  .col-medium-push-9 {
    margin-left: 76%;
  }

  .col-medium-push-10 {
    margin-left: 84.33333333%;
  }

  .col-medium-push-11 {
    margin-left: 92.66666667%;
  }

  .col-medium-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-medium-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-medium-pull-3 {
    margin-left: -24%;
  }

  .col-medium-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-medium-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-medium-pull-6 {
    margin-left: -49%;
  }

  .col-medium-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-medium-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-medium-pull-9 {
    margin-left: -74%;
  }

  .col-medium-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-medium-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 700px) {
  .col-big-1 {
    width: 6.33333333%;
  }

  .col-big-2 {
    width: 14.66666667%;
  }

  .col-big-3 {
    width: 23%;
  }

  .col-big-4 {
    width: 31.33333333%;
  }

  .col-big-5 {
    width: 39.66666667%;
  }

  .col-big-6 {
    width: 48%;
  }

  .col-big-7 {
    width: 56.33333333%;
  }

  .col-big-8 {
    width: 64.66666667%;
  }

  .col-big-9 {
    width: 73%;
  }

  .col-big-10 {
    width: 81.33333333%;
  }

  .col-big-11 {
    width: 89.66666667%;
  }

  .col-big-push-1 {
    margin-left: 9.33333333%;
  }

  .col-big-push-2 {
    margin-left: 17.66666667%;
  }

  .col-big-push-3 {
    margin-left: 26%;
  }

  .col-big-push-4 {
    margin-left: 34.33333333%;
  }

  .col-big-push-5 {
    margin-left: 42.66666667%;
  }

  .col-big-push-6 {
    margin-left: 51%;
  }

  .col-big-push-7 {
    margin-left: 59.33333333%;
  }

  .col-big-push-8 {
    margin-left: 67.66666667%;
  }

  .col-big-push-9 {
    margin-left: 76%;
  }

  .col-big-push-10 {
    margin-left: 84.33333333%;
  }

  .col-big-push-11 {
    margin-left: 92.66666667%;
  }

  .col-big-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-big-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-big-pull-3 {
    margin-left: -24%;
  }

  .col-big-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-big-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-big-pull-6 {
    margin-left: -49%;
  }

  .col-big-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-big-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-big-pull-9 {
    margin-left: -74%;
  }

  .col-big-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-big-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 800px) {
  .col-large-1 {
    width: 6.33333333%;
  }

  .col-large-2 {
    width: 14.66666667%;
  }

  .col-large-3 {
    width: 23%;
  }

  .col-large-4 {
    width: 31.33333333%;
  }

  .col-large-5 {
    width: 39.66666667%;
  }

  .col-large-6 {
    width: 48%;
  }

  .col-large-7 {
    width: 56.33333333%;
  }

  .col-large-8 {
    width: 64.66666667%;
  }

  .col-large-9 {
    width: 73%;
  }

  .col-large-10 {
    width: 81.33333333%;
  }

  .col-large-11 {
    width: 89.66666667%;
  }

  .col-large-push-1 {
    margin-left: 9.33333333%;
  }

  .col-large-push-2 {
    margin-left: 17.66666667%;
  }

  .col-large-push-3 {
    margin-left: 26%;
  }

  .col-large-push-4 {
    margin-left: 34.33333333%;
  }

  .col-large-push-5 {
    margin-left: 42.66666667%;
  }

  .col-large-push-6 {
    margin-left: 51%;
  }

  .col-large-push-7 {
    margin-left: 59.33333333%;
  }

  .col-large-push-8 {
    margin-left: 67.66666667%;
  }

  .col-large-push-9 {
    margin-left: 76%;
  }

  .col-large-push-10 {
    margin-left: 84.33333333%;
  }

  .col-large-push-11 {
    margin-left: 92.66666667%;
  }

  .col-large-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-large-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-large-pull-3 {
    margin-left: -24%;
  }

  .col-large-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-large-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-large-pull-6 {
    margin-left: -49%;
  }

  .col-large-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-large-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-large-pull-9 {
    margin-left: -74%;
  }

  .col-large-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-large-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 900px) {
  .col-huge-1 {
    width: 6.33333333%;
  }

  .col-huge-2 {
    width: 14.66666667%;
  }

  .col-huge-3 {
    width: 23%;
  }

  .col-huge-4 {
    width: 31.33333333%;
  }

  .col-huge-5 {
    width: 39.66666667%;
  }

  .col-huge-6 {
    width: 48%;
  }

  .col-huge-7 {
    width: 56.33333333%;
  }

  .col-huge-8 {
    width: 64.66666667%;
  }

  .col-huge-9 {
    width: 73%;
  }

  .col-huge-10 {
    width: 81.33333333%;
  }

  .col-huge-11 {
    width: 89.66666667%;
  }

  .col-huge-push-1 {
    margin-left: 9.33333333%;
  }

  .col-huge-push-2 {
    margin-left: 17.66666667%;
  }

  .col-huge-push-3 {
    margin-left: 26%;
  }

  .col-huge-push-4 {
    margin-left: 34.33333333%;
  }

  .col-huge-push-5 {
    margin-left: 42.66666667%;
  }

  .col-huge-push-6 {
    margin-left: 51%;
  }

  .col-huge-push-7 {
    margin-left: 59.33333333%;
  }

  .col-huge-push-8 {
    margin-left: 67.66666667%;
  }

  .col-huge-push-9 {
    margin-left: 76%;
  }

  .col-huge-push-10 {
    margin-left: 84.33333333%;
  }

  .col-huge-push-11 {
    margin-left: 92.66666667%;
  }

  .col-huge-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-huge-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-huge-pull-3 {
    margin-left: -24%;
  }

  .col-huge-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-huge-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-huge-pull-6 {
    margin-left: -49%;
  }

  .col-huge-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-huge-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-huge-pull-9 {
    margin-left: -74%;
  }

  .col-huge-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-huge-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 1000px) {
  .col-titan-1 {
    width: 6.33333333%;
  }

  .col-titan-2 {
    width: 14.66666667%;
  }

  .col-titan-3 {
    width: 23%;
  }

  .col-titan-4 {
    width: 31.33333333%;
  }

  .col-titan-5 {
    width: 39.66666667%;
  }

  .col-titan-6 {
    width: 48%;
  }

  .col-titan-7 {
    width: 56.33333333%;
  }

  .col-titan-8 {
    width: 64.66666667%;
  }

  .col-titan-9 {
    width: 73%;
  }

  .col-titan-10 {
    width: 81.33333333%;
  }

  .col-titan-11 {
    width: 89.66666667%;
  }

  .col-titan-push-1 {
    margin-left: 9.33333333%;
  }

  .col-titan-push-2 {
    margin-left: 17.66666667%;
  }

  .col-titan-push-3 {
    margin-left: 26%;
  }

  .col-titan-push-4 {
    margin-left: 34.33333333%;
  }

  .col-titan-push-5 {
    margin-left: 42.66666667%;
  }

  .col-titan-push-6 {
    margin-left: 51%;
  }

  .col-titan-push-7 {
    margin-left: 59.33333333%;
  }

  .col-titan-push-8 {
    margin-left: 67.66666667%;
  }

  .col-titan-push-9 {
    margin-left: 76%;
  }

  .col-titan-push-10 {
    margin-left: 84.33333333%;
  }

  .col-titan-push-11 {
    margin-left: 92.66666667%;
  }

  .col-titan-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-titan-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-titan-pull-3 {
    margin-left: -24%;
  }

  .col-titan-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-titan-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-titan-pull-6 {
    margin-left: -49%;
  }

  .col-titan-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-titan-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-titan-pull-9 {
    margin-left: -74%;
  }

  .col-titan-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-titan-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 1100px) {
  .col-nation-1 {
    width: 6.33333333%;
  }

  .col-nation-2 {
    width: 14.66666667%;
  }

  .col-nation-3 {
    width: 23%;
  }

  .col-nation-4 {
    width: 31.33333333%;
  }

  .col-nation-5 {
    width: 39.66666667%;
  }

  .col-nation-6 {
    width: 48%;
  }

  .col-nation-7 {
    width: 56.33333333%;
  }

  .col-nation-8 {
    width: 64.66666667%;
  }

  .col-nation-9 {
    width: 73%;
  }

  .col-nation-10 {
    width: 81.33333333%;
  }

  .col-nation-11 {
    width: 89.66666667%;
  }

  .col-nation-push-1 {
    margin-left: 9.33333333%;
  }

  .col-nation-push-2 {
    margin-left: 17.66666667%;
  }

  .col-nation-push-3 {
    margin-left: 26%;
  }

  .col-nation-push-4 {
    margin-left: 34.33333333%;
  }

  .col-nation-push-5 {
    margin-left: 42.66666667%;
  }

  .col-nation-push-6 {
    margin-left: 51%;
  }

  .col-nation-push-7 {
    margin-left: 59.33333333%;
  }

  .col-nation-push-8 {
    margin-left: 67.66666667%;
  }

  .col-nation-push-9 {
    margin-left: 76%;
  }

  .col-nation-push-10 {
    margin-left: 84.33333333%;
  }

  .col-nation-push-11 {
    margin-left: 92.66666667%;
  }

  .col-nation-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-nation-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-nation-pull-3 {
    margin-left: -24%;
  }

  .col-nation-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-nation-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-nation-pull-6 {
    margin-left: -49%;
  }

  .col-nation-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-nation-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-nation-pull-9 {
    margin-left: -74%;
  }

  .col-nation-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-nation-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen and (min-width: 1200px) {
  .col-world-1 {
    width: 6.33333333%;
  }

  .col-world-2 {
    width: 14.66666667%;
  }

  .col-world-3 {
    width: 23%;
  }

  .col-world-4 {
    width: 31.33333333%;
  }

  .col-world-5 {
    width: 39.66666667%;
  }

  .col-world-6 {
    width: 48%;
  }

  .col-world-7 {
    width: 56.33333333%;
  }

  .col-world-8 {
    width: 64.66666667%;
  }

  .col-world-9 {
    width: 73%;
  }

  .col-world-10 {
    width: 81.33333333%;
  }

  .col-world-11 {
    width: 89.66666667%;
  }

  .col-world-push-1 {
    margin-left: 9.33333333%;
  }

  .col-world-push-2 {
    margin-left: 17.66666667%;
  }

  .col-world-push-3 {
    margin-left: 26%;
  }

  .col-world-push-4 {
    margin-left: 34.33333333%;
  }

  .col-world-push-5 {
    margin-left: 42.66666667%;
  }

  .col-world-push-6 {
    margin-left: 51%;
  }

  .col-world-push-7 {
    margin-left: 59.33333333%;
  }

  .col-world-push-8 {
    margin-left: 67.66666667%;
  }

  .col-world-push-9 {
    margin-left: 76%;
  }

  .col-world-push-10 {
    margin-left: 84.33333333%;
  }

  .col-world-push-11 {
    margin-left: 92.66666667%;
  }

  .col-world-pull-1 {
    margin-left: -7.33333333%;
  }

  .col-world-pull-2 {
    margin-left: -15.66666667%;
  }

  .col-world-pull-3 {
    margin-left: -24%;
  }

  .col-world-pull-4 {
    margin-left: -32.33333333%;
  }

  .col-world-pull-5 {
    margin-left: -40.66666667%;
  }

  .col-world-pull-6 {
    margin-left: -49%;
  }

  .col-world-pull-7 {
    margin-left: -57.33333333%;
  }

  .col-world-pull-8 {
    margin-left: -65.66666667%;
  }

  .col-world-pull-9 {
    margin-left: -74%;
  }

  .col-world-pull-10 {
    margin-left: -82.33333333%;
  }

  .col-world-pull-11 {
    margin-left: -90.66666667%;
  }
}
@media screen {
  .silk-nav ul ul {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 200;
    height: 100%;
    width: 100%;
    background: #fff;
    opacity: 0;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: opacity .4s, -webkit-transform .4s;
    transition: opacity .4s, transform .4s;
  }
}
@media screen and (min-width: 900px) {
  .silk-nav ul ul {
    top: 100%;
    left: 0;
    display: none;
    height: auto;
    opacity: 1;
  }
}
@media screen and (min-width: 900px) {
  .silk-nav > ul > li:hover > ul {
    display: block;
  }
}
@media screen {
  .silk-nav ul ul.silk-menu--active {
    opacity: 1;
    -webkit-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    transform: translate(-100%, 0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.24, 1.11);
    transition: opacity 0.4s, transform 0.4s cubic-bezier(0.175, 0.885, 0.24, 1.11);
  }
}
@media screen and (min-width: 900px) {
  .silk-nav ul ul.silk-menu--active {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media screen {
  .trigger--revert,
  .trigger--reverse {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s, visibility .3s;
    transition: opacity .3s, visibility .3s;
  }
  .silk-menu--active .trigger--revert, .silk-menu--active
  .trigger--reverse {
    opacity: 1;
    visibility: visible;
  }

  .colors {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .colors li {
    display: block;
  }

  .silk-table {
    display: none;
    width: 100%;
    border-spacing: 0;
    margin-bottom: 1em;
  }
}
@media screen and (min-width: 900px) {
  .silk-table {
    display: block;
  }
}
@media screen {
  .silk-table th {
    font-size: 1.5em;
    line-height: 1.08333333;
    text-align: left;
  }
}
@media screen and (min-width: 900px) {
  .silk-table--collapsed {
    display: none;
  }
}

@media screen {
  .silk-tabs__nav {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .silk-tabs__nav {
    display: block;
  }
}
@media screen {
  .silk-tabs__nav li {
    display: inline-block;
    vertical-align: top;
  }
  .silk-tabs__nav a {
    font-size: 1.5em;
    line-height: 1.08333333;
    display: block;
    text-decoration: none;
    color: inherit;
  }
}
@media screen and (min-width: 900px) {
  .silk-tabs__header {
    display: none;
  }
}

@media screen {
  .silk-tabs__content {
    opacity: 1;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .silk-tabs__content.is-hidden {
    opacity: 0;
  }
  .silk-tabs__content.is-hidden-accordion {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  .silk-tabs__content.is-hidden-accordion {
    display: inherit;
  }
}

@media screen {
  .silk-video {
    position: relative;
    height: 18.75em;
  }
}
@media screen and (min-width: 1000px) {
  .silk-video {
    height: 36.25em;
  }
}
@media screen {
  .silk-video .silk-video__inner {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  .silk-video .compartment {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}
@media screen and (min-width: 1000px) {
  .silk-video .compartment {
    padding-top: 6.25em;
    padding-bottom: 6.25em;
  }
}
@media screen {
  .silk-video video {
    position: absolute;
    z-index: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 1000px) {
  .silk-video video {
    visibility: visible;
  }
}
@media screen {
  .silk-video video.fillWidth {
    width: 100%;
  }

  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  html {
    font-family: "Roboto";
    color: #333;
  }

  body {
    font-size: 1em;
    line-height: 1.375;
  }

  [class^='nav'] {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  [class^='nav'] a {
    display: block;
    text-decoration: none;
  }
}
@media screen and (min-width: 900px) {
  .nav-main {
    overflow: visible;
  }
}
@media screen and (min-width: 900px) {
  .nav-main > ul > li {
    display: inline-block;
    vertical-align: top;
  }
}
@media screen {
  .nav-main > ul > li > a:not(.trigger--home) {
    padding-top: 0.45454545em;
    padding-bottom: 0.45454545em;
    font-size: 1.375em;
    text-transform: uppercase;
  }
  .nav-main > ul > li > ul {
    top: 3.125em;
  }
}
@media screen and (min-width: 900px) {
  .nav-main > ul > li > ul {
    top: 100%;
  }
}
@media screen and (min-width: 900px) {
  .nav-main li {
    position: relative;
  }
}
@media screen {
  .nav-main a {
    display: block;
    padding: 0.875em 4.375rem;
    text-decoration: none;
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.15);
  }
}
@media screen and (min-width: 900px) {
  .nav-main a {
    padding: 0.875em 1.25rem;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
@media screen {
  .nav-main ul > a {
    padding-top: 0.45454545em;
    padding-bottom: 0.45454545em;
    font-size: 1.375em;
    text-transform: uppercase;
  }
  .trigger--advance {
    border: 0;
    padding: 0;
    height: 3.125em;
    width: 3.125em;
    background: none;
    outline: 0;
    clear: both;
    float: right;
    -webkit-box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.15);
    box-shadow: -1px 0 0 0 rgba(0, 0, 0, 0.15);
    -webkit-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    transform: translate(0, -100%);
  }
}
@media screen and (min-width: 900px) {
  .trigger--advance {
    display: none;
  }
}

@media screen {
  .silk-nav__controls {
    position: relative;
    background: rgba(0, 0, 0, 0.15);
  }
  .silk-nav__controls:after {
    clear: both;
    content: '';
    display: table;
  }
}
@media screen and (min-width: 900px) {
  .silk-nav__controls {
    display: none;
  }
}
@media screen {
  .silk-nav__controls .trigger--home {
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding-right: 1.25em;
    padding-left: 1.25em;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .silk-nav__controls i {
    line-height: 1;
  }

  .trigger--revert {
    float: left;
    border: 0;
    padding: 0.875em 1.25em;
    background: none;
    outline: 0;
  }

  .trigger--reverse {
    border: 0;
    padding: 0;
    height: 3.125em;
    width: 3.125em;
    background: none;
    outline: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 300;
    width: 100%;
    padding-left: 1.25em;
    text-align: left;
  }

  [class^='callout'] {
    margin-bottom: 1.25em;
    padding: 1.25em;
  }

  .lead-in {
    font-size: 1em;
    line-height: 1.125;
  }

  .m1 {
    margin: 0.625em;
  }

  .m2 {
    margin: 1.25em;
  }

  .m3 {
    margin: 1.875em;
  }

  .mt1 {
    margin-top: 0.625em;
  }

  .mt2 {
    margin-top: 1.25em;
  }

  .mt3 {
    margin-top: 1.875em;
  }

  .mr1 {
    margin-right: 0.625em;
  }

  .mr2 {
    margin-right: 1.25em;
  }

  .mr3 {
    margin-right: 1.875em;
  }

  .mb1 {
    margin-bottom: 0.625em;
  }

  .mb2 {
    margin-bottom: 1.25em;
  }

  .mb3 {
    margin-bottom: 1.875em;
  }

  .ml1 {
    margin-left: 0.625em;
  }

  .ml2 {
    margin-left: 1.25em;
  }

  .ml3 {
    margin-left: 1.875em;
  }

  .mx1 {
    margin-right: 0.625em;
    margin-left: 0.625em;
  }

  .mx2 {
    margin-right: 1.25em;
    margin-left: 1.25em;
  }

  .mx3 {
    margin-right: 1.875em;
    margin-left: 1.875em;
  }

  .my1 {
    margin-top: 0.625em;
    margin-bottom: 0.625em;
  }

  .my2 {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
  }

  .my3 {
    margin-top: 1.875em;
    margin-bottom: 1.875em;
  }

  .p1 {
    padding: 0.625em;
  }

  .p2 {
    padding: 1.25em;
  }

  .p3 {
    padding: 1.875em;
  }

  .pt1 {
    padding-top: 0.625em;
  }

  .pt2 {
    padding-top: 1.25em;
  }

  .pt3 {
    padding-top: 1.875em;
  }

  .pr1 {
    padding-right: 0.625em;
  }

  .pr2 {
    padding-right: 1.25em;
  }

  .pr3 {
    padding-right: 1.875em;
  }

  .pb1 {
    padding-bottom: 0.625em;
  }

  .pb2 {
    padding-bottom: 1.25em;
  }

  .pb3 {
    padding-bottom: 1.875em;
  }

  .pl1 {
    padding-left: 0.625em;
  }

  .pl2 {
    padding-left: 1.25em;
  }

  .pl3 {
    padding-left: 1.875em;
  }

  .px1 {
    padding-right: 0.625em;
    padding-left: 0.625em;
  }

  .px2 {
    padding-right: 1.25em;
    padding-left: 1.25em;
  }

  .px3 {
    padding-right: 1.875em;
    padding-left: 1.875em;
  }

  .py1 {
    padding-top: 0.625em;
    padding-bottom: 0.625em;
  }

  .py2 {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
  }

  .py3 {
    padding-top: 1.875em;
    padding-bottom: 1.875em;
  }

  [class*='button'] {
    display: inline-block;
    border: 0;
    margin: 0 0.625em 0.625em 0;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    -webkit-transition: background .25s, -webkit-box-shadow .25s, color .25s, -webkit-transform .2s;
    transition: background .25s, box-shadow .25s, color .25s, transform .2s;
  }
  [class*='button']:active {
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
  }

  .site__link {
    display: block;
    text-decoration: none;
  }

  .site__logo {
    display: block;
    overflow: hidden;
    max-width: 12.5em;
    width: 100%;
    white-space: nowrap;
    background: url("../images/logo.svg") no-repeat 0 0;
    background-size: contain;
    color: transparent;
  }
  .site__logo:hover {
    color: transparent;
  }

  figure {
    margin: 0;
  }
  figure img {
    display: block;
    width: 100%;
  }

  .hero {
    background-position: 50% 50%;
    background-size: cover;
  }
  .hero--empty {
    height: 30vw;
    max-height: 31.25em;
    min-height: 18.75em;
  }
  .hero img {
    display: none;
  }
}
@media print {
  .site__header,
  .site__footer,
  .video {
    display: none;
    visibility: hidden;
  }
}
