doctype html
html(
  dir="ltr"
  lang="en-US"
)
  include ../regions/head.jade
  body
    .sprite
      include ../../svg/sprite.symbol.svg
    include ../regions/header.jade
    main
      block content
    include ../regions/footer.jade
