doctype html
html(
  dir="ltr"
  lang="en-US"
)
  include ../regions/head.jade
  body
    include ../../svg/sprite.symbol.svg
    include ../regions/header.jade
    block content
    include ../regions/footer.jade
