// ========================================
// Silk Accordion
// ========================================

.silk-accordion {}

  // Accordion item header container
  .silk-accordion__header {

    a {}

  }

  // Accordion item content container
  .silk-accordion__content {}
