// ========================================
// Silk Table
// ========================================

.silk-table {

  // Header table cells
  th {}

  // Regular table cells
  td {

    // Every td in every odd row
    @at-root .silk-table tr:nth-of-type(odd) td {}

  }

  // Collapsed table
  @at-root .silk-table--collapsed {

    li {

      // The first header of every column
      &:first-child h4 {}

      // Odd "rows" within every column
      &:nth-of-type(odd) div {}

    }

  }

}
