// ========================================
// Silk Tabs
// ========================================

.silk-tabs {}

  .silk-tabs__nav {

    li {}

      a {}

  }

  .silk-tabs__header {

    a {}

  }

  .silk-tabs__content {}
