//- ========================================
//- Halfway Page
//- ========================================

extends ../templates/main.jade

block content
  .compartment
    .halfway-section#section-1
      .halfway-content
    .halfway-section#section-2
      .halfway-content
    .halfway-section#section-3
      .halfway-content
    .halfway-section#section-4
      .halfway-content
    .halfway-section#section-5
      .halfway-content
