//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  .compartment
    include ../blocks/silk-tabs.jade
    include ../blocks/silk-accordion.jade
    include ../blocks/silk-table.jade
