//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  main
    .compartment
      include ../blocks/silk-table.jade
      include ../blocks/silk-accordion.jade
      include ../blocks/silk-tabs.jade
