//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  main
    .compartment
      section.hero
        h2 Silk Hero
        img(src="http://i.imgur.com/amMWTop.jpg")
      section.hero.hero--empty
        img(src="http://i.imgur.com/9FnCMYs.jpg")
      section
        h2 Silk Accordion
        include ../blocks/silk-accordion.jade
      section
        h2 Silk Table
        include ../blocks/silk-table.jade
      section
        h2 Silk Tab
        include ../blocks/silk-tabs.jade
      section
        h2 Silk Collage
        ol.silk-collage
          li
          li
          li
          li
          li
          li
      section
        h2 Swift Slide
        ol.swift-slide
          li
          li
          li
          li
      section
        h2 Instagram Feed
        ol#instagram-feed.instagram-feed.list-reset
      section
        h2 Twitter Feed
        ol#twitter-feed.twitter-feed.list-reset
