//- ========================================
//- Home Page
//- ========================================

extends ../templates/main.jade

block content
  main
    .compartment
      section
        h2 Silk Accordion
        include ../blocks/silk-accordion.jade
      section
        h2 Silk Table
        include ../blocks/silk-table.jade
      section
        h2 Silk Tab
        include ../blocks/silk-tabs.jade
      section
        h2 Silk Collage
        ol.silk-collage
          li
          li
          li
          li
          li
          li
      section
        h2 Swift Slide
        ol.swift-slide
          li
          li
          li
          li
      section
        h2 Instafeed
        #instagram-feed.instagram-feed
