// ========================================
// Shared Navigation
// ========================================

nav {

  ul {
    @include list-reset;
  }

    a {
      display: block;
      text-decoration: none;
    }

}
