//- ========================================
//- Site Footer
//- ========================================

footer.site__footer
  .compartment
    include ../blocks/address.jade

script(src="assets/js/build/main.js")
script(src="assets/js/build/site.js")
