//- ========================================
//- Site Header
//- ========================================

header.site__header
  .compartment
    a.site__logo(href='') Silk
    include ../blocks/silk-nav.jade
