//- ========================================
//- Main Site Template
//- ========================================

doctype html
html(
  dir="ltr"
  lang="en-US"
)
  include ../regions/head.pug
  include ../mixins/symbol.pug
  body
    .sprite(style="display: none;")
      include ../../svg/sprite.symbol.svg
    include ../regions/header.pug
    main
      block content
    include ../regions/footer.pug
